<div class='pageheader'>
  <h1>Summarize your completed scenarios</h1>
</div>
<section id="main-content">
  <div class='row'><div class='col-md-12'><div class='panel'><div class='panel-body'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Title</th>
          <th>Completed</th>
          <th>Show</th>
        </tr>
      </thead>
      <tbody>
      <% @scenarios.each do |scenario| %>
        <tr>
          <td><%= scenario.title %></td>
          <td><%= scenario.user_completed_count %> / <%= scenario.user_count %></td>
          <td><%= link_to 'Details', summary_path(scenario) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div></div></div></div>
</section>
