<script id="new-response-template" type="text/x-handlebars-template">
  {{#each responses}}
  <a class='panel' href='{{result_video_path}}'>
    <div class='row'>
      <div class='title-container'>
        <h1>{{scenario_title}}</h1>
        <p class='sub'>completed by {{email}} moments ago ({{pp_plural_with_number scenario_step_count 'step'}})</p>
      </div>
    </div>
  </a>
  {{/each}}
</script>
