<% content_for :title do %>
  Edit Aircraft
<% end %>

<section class='main-content-header'>
  <h1><%= content_for :title %></h1>
</section>

<section class='main-content'>
  <%= bootstrap_form_for @aircraft, url: aircraft_path(@aircraft), method: :patch do |f| %>
    <%= render partial: 'aircrafts/partials/form', locals: {f: f} %>
  <% end %>
</section>
