<% content_for :main_wrapper_class do %>
  sidebar-collapsed
<% end %>

<% content_for :title do %>
  Analysis
<% end %>

<script type="text/javascript">
  var input = <%= raw @prezi.fleets_json %>;
</script>

<section class='main-content-header'>
  <h1><%= content_for :title %></h1>
</section>

<section class='main-content'>

  <div class="panel">
    <div id="pivot-chart"></div>
    <div id="pivot-table"></div>
  </div>

</section>
