#forecasts-index {
  .results-containter {
    h3 {
      margin-bottom: 20px;
      font-weight: bold;
    }

    .upcoming-orders-table {
      white-space: nowrap;
      border: solid #ddd;
      border-width: 0 1px 1px 1px;
    }
  }
}
