.analysis-sidebar {
  > div {
    margin: 24px;
  }

  .title {
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
  }

  .bootstrap-select {
    width: 250px !important;

    .dropdown-menu {
      border: none;

      li a {
        margin: 6px 0;

        &:hover {
          background: #1E202C;
          color: #FFF;
        }
      }
    }
  }

  .bootstrap-select + .bootstrap-select {
    margin-top: 10px;
  }

  .ctn-available-attributes {
    height: 100%;

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      background: #1CA5C9;
      color: #FFF;
      margin: 1px;
      padding: 8px 15px;
      cursor: move;
      border-radius: 4px;
      margin-bottom: 8px;

      i {
        margin-top: 3px;
        color: #0C92B3;
      }
    }

    .sortable-ghost {
      opacity: 0.3;
      background: #FFF;
      border: dotted 2px #44585F;
    }
  }
}
