#analysis-index {
  #pivotHolder {
    overflow: scroll;
  }

  .ctn-selected-attributes {
    ul {
      list-style: none;
      padding: 0;
    }

    li {
      background: #1CA5C9;
      color: #FFF;
      margin: 1px;
      padding: 8px 15px;
      cursor: move;
      border-radius: 4px;
      margin-bottom: 3px;
      margin-right: 5px;
      display: inline-block;

      i {
        margin-top: 3px;
        margin-left: 15px;
        color: #0C92B3;
      }
    }

    .sortable-ghost {
      opacity: 0.3;
      background: #FFF;
      border: dotted 2px #44585F;
    }
  }

  select.pvtAggregator:not(.form-control), select.pvtRenderer:not(.form-control) {
    @extend .form-control;
    @extend .input-sm;
  }

  table:not(.table) {
    @extend .table;
  }

  table.pvtUi > tbody > tr > td {
    border: 1px solid #E0E0E0;
    background: #FFF;
    padding: 10px;
    min-width: 130px;
  }

  table.pvtTable tr th, table.pvtTable tr th {
    border: 1px solid #E0E0E0;
    color: #9A9AA2 !important;
    background-color: #F9F9F9 !important;
  }

  .pvtAxisContainer li span.pvtAttr {
    background: #2AC1E6;
    color: #FFF;
    border: none;
    padding: 6px 8px;
  }

  .pvtRows li span.pvtAttr {
    width: 100%;
    display: block;
  }

  .pvtFilterBox {
    button {
      @extend .btn;
      @extend .btn-default;
      border-radius: 4px;
    }

    button + button {
      margin-left: 10px;
    }

    input[type="text"] {
      @extend .form-control;
      margin-top: 10px;
    }
  }
}
