#analysis-index {
  .main-content-header {
    @media (max-width: $screen-sm-min) {
      .pull-right {
        float: none !important;
      }
    }

    .ctn-header-btns {
      > div {
        @media (min-width: $screen-sm-min) {
          margin-left: 20px;
        }

        @media (max-width: $screen-sm-min) {
          padding: 9px 0;
        }
      }

      button {
        background-color: inherit;
        border: none;
        padding: 0;
        color: #9CA8B4;
        outline: none;

        span {
          font-size: 12px;
          font-weight: bold;
        }
      }

      .dropdown-menu {
        padding: 9px 0;
        top: 40px;
        background-color: #67747F;
        border-radius: 0;
        position: absolute;
        border: none;

        @media (max-width: $screen-sm-min) {
          top: 100%;
          left: auto;
          right: auto;
        }

        >li>a {
          font-size: 12px;
          color: #FFF;

          i {
            margin-right: 10px;
          }
        }
        >li>a:focus,
        >li>a:active,
        >li>a:hover,
        >li.active>a {
          background-color: inherit;
          outline: none;
        }

        .divider {
          opacity: 0.5;
        }
      }

      .btn-save-view {
        .arrow-up {
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid #67747F;
          position: absolute;
          top: -7px;
          right: 10px;

          @media (max-width: $screen-sm-min) {
            right: auto;
            left: 10px;
          }
        }

        .dropdown-menu {
          padding: 9px;
        }

        #input-save-view {
          min-width: 160px;
        }
      }

      .btn-saved-views {
        li {
          position: relative;
          width: 200px;

          a {
            width: 164px; // li width - span width - span right
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .close {
          position: absolute;
          right: 15px;
          top: 1px;
        }
      }
    }
  }

  .main-content {
    @media (min-width: $screen-lg-min) {
      padding: 10px 20px;
    }

    #pivot-container {
      padding: 20px 20px 40px;
      background: #FFF;

      table:not(.table) {
        @extend .table;
        margin-bottom: 0 !important;
      }

      table.pvtTable tr {
        th {
          border: 1px solid #E0E0E0;
          color: #9CA8B4 !important;
          background-color: #FFF !important;
          font-size: 12px;
        }

        td {
          color: #9CA8B4 !important;
          font-size: 12px;
        }
      }

      textarea {
        border: 1px solid #E0E0E0;
        color: #9CA8B4 !important;
        padding: 10px;
        width: 100% !important;
        resize: none;
      }
    }

    .ctn-selected-attributes {
      ul {
        list-style: none;
        padding: 0;
        min-width: 158;
        min-height: 40px;
      }

      li {
        background: #1CA5C9;
        color: #FFF;
        padding: 8px 15px;
        cursor: move;
        border-radius: 4px;
        margin-bottom: 3px;
        margin-right: 5px;
        display: inline-block;

        i {
          margin-top: 3px;
          margin-left: 15px;
          color: #0C92B3;
          cursor: pointer;
        }
      }

      .sortable-ghost {
        opacity: 0.3;
        background: #FFF;
        border: dotted 2px #44585F;
      }
    }

  }

  .pvtFilterBox {
    border: 1px solid #9CA8B4;

    div {
      margin-top: 14px;
    }

    .pvtFilterBtn {
      width: 117px;
    }

    .pvtSearch {
      margin-top: 5px;
    }
  }
}
