#reports-index {
  .filters-container {
    h3 {
      margin-bottom: 15px;
    }

    .filter-select-container {
      margin-bottom: 15px;
    }
  }

  .results-containter {
    .nav-tabs > li > a {
      border: none;
      background-color: #eeeeee;
      color: black;
    }

    .nav-tabs > li.active > a {
      background-color: #FAFAFA;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    }

    h3 {
      margin-bottom: 20px;
      font-weight: bold;
    }

    .table-bordered {
      border: 1px solid #ddd;
    }

    .ctn-aircraft-location {
      #map {
        height: 500px;
      }
    }
  }
}
