<div class='row video-transcript-container text-mode'>
  <div class='video-container'>
    <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered vjs-has-started"
      controls preload="auto" width="auto" height="auto"
      data-setup='{"example_option":true}'>
    </video>
    <!-- <div class="ctn-video-share-link">
      <h4>Link to <span class='span-time'></span></h4>
      <div class="input-group">
        <input type="text" class="form-control" id='input-url-base' readonly>

        <span class='input-group-btn' data-placement="bottom" title="Copy the video share link" data-toggle="tooltip" data-container="#btn-copy-video-link-tooltip">
          <a class="btn btn-green" id="btn-copy-video-link"><i class="fa fa-link"></i></a>
        </span>
      </div>
      <div id='btn-copy-video-link-tooltip'></div>
    </div>
    <div class='ctn-video-share-highlight'>
      <h4>Share a highlight</h4><a id='btn-create-highlight' class='btn btn-dark-blue'><i class='fa fa-arrow-right'></i></a>
    </div> -->
    <div class='ctn-video-time-snippet h4'>
      From: <input type='text' class="form-control h2" id='input-video-time-start'></input>
      To: <input type='text' class="form-control h2" id='input-video-time-end'></input>
    </div>
  </div>
  <div class='transcript-container'>
    <div class='transcript-header-container'>
      <!-- <button id='toggle-transcripts' type="button" class="btn btn-default"><i class='fa fa-align-left'></i> Transcripts</button> -->

      <!--<h2>Timeline</h2>-->
      <input type='checkbox' id='btn-check-show-all' checked></input>
      <h2>Timeline</h2>
      <a id='btn-add-note' class='btn btn-medium-blue'><i class='fa fa-plus'></i> Add a Note</a>
    </div>
    <div id='videoText'>
      <!-- insert transcription here -->
      <div class='ctn-highlight-start sub'>
        <span>start of highlight</span>
      </div>
      <div class='ctnNoTranscript'>
        (no transcript)
      </div>
      <div class='ctn-highlight-finish sub'>
        <span>end of highlight</span>
      </div>
    </div>
  </div>
</div>

<script id="video-text-template" type="text/x-handlebars-template">
  {{#each rows}}
    {{> video-text-partial}}
  {{/each}}
</script>

<script id='video-text-partial' type='text/x-handlebars-template'>
  <div class='ctnVideoTextLink clearfix {{displayClass}}' data-timestamp='{{time}}'>
    <input type='checkbox' class='video-check-show' checked></input>
    <div class='videoTextLink'>
      <input type='text' class='video-text-time' value='{{displayTime}}' readonly></input>
      <div class='video-text-icon-display'>
        <div class='video-text-icon'><i class='{{displayIcon}}'></i></div>
        {{#if editable}}
          <textarea class='video-text-display' rows='1' readonly>{{{displayText}}}</textarea>
        {{else}}
          <div class='video-text-display'>{{{displayText}}}</div>
        {{/if}}
      </div>
    </div>
    {{#if editable}}
      <a class='video-btn-edit sub'><i class='fa fa-edit'></i> Edit</a>
      <div class='video-text-buttons'>
        <span class='video-btn-save btn btn-success btn-colorless'><i class='fa fa-check'></i> Save</span>
        <span class='video-btn-cancel btn btn-danger btn-colorless'><i class='fa fa-times'></i> Cancel</span>
        {{#if trashable}}
          <span class='video-btn-trash btn btn-grey btn-colorless'><i class='fa fa-trash'></i></span>
        {{/if}}
      </div>
    {{/if}}
  </div>
</script>

<script id='video-resize-button-template' type='text/x-handlebars-template'>
  <div class="vjs-custom-resize-control vjs-control " role="button" aria-live="polite" tabindex="0">
    <div class='vjs-custom-resize-icon'></div>
  </div>
</script>

<script id='video-range-template' type='text/x-handlebars-template'>
  <div class='vjs-custom-range-left-mask'></div>
  <div class='vjs-custom-range-right-mask'></div>
  <div class='vjs-custom-range-left-marker'>
    <i class='fa fa-bars'></i>
  </div>
  <div class='vjs-custom-range-right-marker'>
    <i class='fa fa-bars'></i>
  </div>
</script>
