<script id="new-fleet-template" type="text/x-handlebars-template">
  {{#each fleets}}
  <tr class='fleet-line'>
    <td name='serial_number' value='{{serial_number}}'><a href='/fleets/{{hashid}}'>{{serial_number}}</a></td>
    <td name='aircraft_status' value="{{aircraft_status}}">{{aircraft_status}}</td>
    <td name='aircraft_manufacturer' value="{{aircraft_manufacturer}}">{{aircraft_manufacturer}}</td>
    <td name='aircraft_type' value="{{aircraft_type}}">{{aircraft_type}}</td>
    <td name='engine_type' value="{{engine_type}}">{{engine_type}}</td>
    <td name='manager' value="{{manager}}">{{manager}}</td>
    <td name='operator' value="{{operator}}">{{operator}}</td>
    <td name='owner' value="{{owner}}">{{owner}}</td>
    <td name='operator_country' value="{{operator_country}}">{{operator_country}}</td>
    <td></td>
  </tr>
  {{/each}}
</script>
