<script id="new-fleet-template" type="text/x-handlebars-template">
  <thead>
    <tr>
      {{#each column_names}}
        {{#if_equal ../sort_column this}}
          <th class="column-name" data-type="{{this}}" data-sorted="true" data-sorted-direction="{{../../sort_direction}}">
            {{#if_equal ../../sort_direction "asc"}}
              {{human_attribute_name this}}<i class="fa fa-caret-up"></i>
            {{else}}
              {{human_attribute_name this}}<i class="fa fa-caret-down"></i>
            {{/if_equal}}
          </th>
        {{else}}
          <th class="column-name" data-type="{{this}}" data-sorted="false">
            {{human_attribute_name this}}<i class="fa fa-caret-down"></i>
          </th>
        {{/if_equal}}
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each fleets as |fleet fleet_id|}}
      <tr class='fleet-line'>
        {{#each ../column_names as |column_name column_name_Id|}}
          {{#if_one_equal column_name 'msn' 'registration' 'line_number'}}
            <td>
              <a name="{{column_name}}" value="{{get_object_value_with_key fleet column_name}}" href="/fleets/{{get_object_value_with_key fleet 'hashid'}}">
                {{get_object_value_with_key fleet column_name}}
              </a>
            </td>
          {{else}}
            <td name="{{column_name}}" value="{{get_object_value_with_key fleet column_name}}">{{get_object_value_with_key fleet column_name}}</td>
          {{/if_one_equal}}
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</script>
