<script id="new-fleet-template" type="text/x-handlebars-template">
  {{#each fleets as |fleet fleet_id|}}
    <tr class='fleet-line'>
      {{#each ../column_names as |column_name column_name_Id|}}
        <td name="{{column_name}}" value="{{get_object_value_with_key fleet column_name}}">{{get_object_value_with_key fleet column_name}}</td>
      {{/each}}
      <td></td>
    </tr>
  {{/each}}
</script>
