.filters-sidebar {
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 350px;

  .btn-collapse-sidebar {
    background-color: #44585F;
    font-size: 20px;
    padding: 24px 32px;

    i {
      float: right;
      cursor: pointer;
    }
  }

  .filter-category {
    color: #FFF;
    padding: 6px 12px;
    margin-top: 12px;

    i {
      margin-right: 7px;
    }

    &:focus, &:hover {
      background: #2D3C43;
    }
  }

  .filter-name {
    padding: 6px 0;
  }

  .filter-content {
    padding: 0 32px;

    .dropdown-menu {
      border: none;
      max-width: 100%;

      li a {
        margin: 6px 0;

        &:focus, &:hover {
          background: #1E202C;
          color: #FFF;
        }
      }
    }
  }
}
