#fleets-index {
  .main-content-header {
    #btn-expand-sidebar {
      background-color: #303341;
      color: #FFF;
      border-radius: 0px 20px 20px 0px;
      height: 46px;
      margin-right: 10px;
    }

    .sidebar-collapsed & {
      padding: 11px 40px 11px 0px;
    }

    h1 > div {
      position: relative;
      margin-left: 20px;

      button {
        background-color: inherit;
        border: none;
        padding: 0;
        color: #9CA8B4;

        span {
          font-size: 12px;
          font-weight: bold;
        }
      }

      .sidebar-collapsed & {
        padding: 9px 0;
      }
    }

    .dropdown-menu {
      padding: 9px 0;
      top: 40px;
      background-color: #67747F;
      position: absolute;
      border: none;

      .arrow-up {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #67747F;
        position: absolute;
        top: -7px;
        right: 10px;
      }

      >li>a {
        font-size: 12px;
        color: #FFF;

        i {
          margin-right: 10px;
        }
      }
      >li>a:focus,
      >li>a:active,
      >li.active>a {
        background-color: inherit;
        outline: none;
      }
      >li>a:hover {
        background-color: inherit;
      }

      .divider {
        opacity: 0.5;
      }
    }

    .btn-save-view {
      .dropdown-menu {
        padding: 9px;
      }

      #input-save-view {
        width: 160px;
      }
    }

    .dropdown-submenu .dropdown-menu {
      top: -3px;
      right: 160px;
    }
  }

  .btn-saved-views {
    li {
      position: relative;
      width: 200px;

      a {
        width: 164px; // li width - span width - span right
        overflow: hidden;
      }
    }

    .close {
      position: absolute;
      right: 15px;
      top: 1px;
    }
  }

  .filter-item {
    display: inline-block;
    border-radius: 3px;
    margin: 0 10px 10px 0;
    background-color: #2AC1E6;
    color: #FFF;
    height: 54px;
    padding: 8px 10px;
    width: 230px;
    text-align: left;
    vertical-align: top;
    text-decoration: none;

    .close {
      color: #FFF;
      margin-left: 12px;
      opacity: 1;
    }
  }

  .fleet-table {
    thead > tr > th {
      vertical-align: top;
      padding: 8px 12px;
      color: #9CA8B4;
      background-color: #FFF;
      border: none;
      word-wrap: break-word;
      white-space: nowrap;
      cursor: pointer;
      font-size: 11px;

      i {
        margin-left: 8px;
      }
    }

    tbody > tr {
      > td {
        vertical-align: middle;
        padding: 8px 12px;
        max-width: 120px;
        color: #2D3C43;
        font-weight: bold;
        cursor: pointer;
        word-wrap: break-word;
        white-space: nowrap;
        overflow: hidden;
        border-top: 1px solid #F0F0F0;
        font-size: 11px;
        text-overflow: ellipsis;

        a {
          color: #2D3C43;
        }
      }

      &:nth-child(odd) > td {
        background-color: #F5F5F5;
      }

      &:nth-child(even) > td {
        background-color: #FFF;
      }
    }
  }

  #datatable_settings_container {
    .modal-dialog {
      padding: 0;
    }

    .ctn-modal-header {
      margin-bottom: 15px;
    }

    .ctn-sortable-columns {
      ul {
        list-style: none;
        padding: 0;

        @media (min-width: $screen-sm-min) {
          min-height: 300px;
        }
      }

      li {
        background: #1CA5C9;
        color: #FFF;
        margin: 1px;
        padding: 10px 15px;
        cursor: move;
        border-radius: 4px;
        margin-bottom: 3px;

        i {
          margin-top: 3px;
        }
      }

      .title {
        padding-left: 2px;
        font-weight: bold;
      }

      .sortable-ghost {
        opacity: 0.3;
        background: #FFF;
        border: dotted 2px #44585F;
      }
    }

    .buttons-container {
      .btn + .btn {
        margin-left: 5px;
      }
    }
  }
}

#fleets-show {
  .main-content-header {
    padding-bottom: 0;

    p.sub {
      margin: 5px 0 20px 0;
    }

    .nav-pills > li > a {
      color: #9A9AA2;
      border-radius: 0;
      font-weight: bold;
      padding: 5px 0;
    }

    .nav-pills > li.active > a {
      color: #323544;
      background-color: inherit;
      border-bottom: 5px solid #1CA3C7;
    }

    li {
      margin-right: 30px;
    }
  }

  .main-content {
    padding: 20px 40px;

    .ctn-fleet-summary {
      padding: 0;
      font-weight: bold;

      .panel-heading {
        padding: 20px;
        background-color: #6F7E95;
        color: #FFF;
      }

      .list-group {
        padding: 0 20px;
        color: #6F7E95;
        background-color: #FFF;

        .row {
          margin: 0;
        }

        .list-group-item {
          padding: 20px 0;
        }
      }
    }
  }
}
