#fleets-index {
  .main-content-header {
    @media (max-width: $screen-sm-min) {
      .pull-right {
        float: none !important;
      }
    }

    .sidebar-collapsed & {
      padding: 10px 20px 10px 0;
    }

    #btn-expand-sidebar {
      background-color: #303341;
      color: #FFF;
      border-radius: 0px 20px 20px 0px;
      height: 48px;
      margin-right: 10px;
    }

    .ctn-header-btns {
      .sidebar-collapsed & {
        margin-top: 10px; // 20px padding - 10px padding when sidebar-collapsed

        @media (max-width: $screen-sm-min) {
          margin-top: 0;
        }
      }

      > div {
        margin-left: 20px;

        @media (max-width: $screen-sm-min) {
          padding: 9px 0;
        }
      }

      button {
        background-color: inherit;
        border: none;
        padding: 0;
        color: #9CA8B4;
        outline: none;

        span {
          font-size: 12px;
          font-weight: bold;
        }
      }

      .dropdown-menu {
        padding: 9px 0;
        top: 40px;
        background-color: #67747F;
        border-radius: 0;
        position: absolute;
        border: none;

        @media (max-width: $screen-sm-min) {
          top: 100%;
          left: auto;
          right: auto;
        }

        >li>a {
          font-size: 12px;
          color: #FFF;

          i {
            margin-right: 10px;
          }
        }
        >li>a:focus,
        >li>a:active,
        >li>a:hover,
        >li.active>a {
          background-color: inherit;
          outline: none;
        }

        .divider {
          opacity: 0.5;
        }
      }

      .dropdown-submenu .dropdown-menu {
        @media (min-width: $screen-sm-min) {
          top: -3px;
        }
      }

      .btn-save-view {
        .arrow-up {
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid #67747F;
          position: absolute;
          top: -7px;
          right: 10px;

          @media (max-width: $screen-sm-min) {
            right: auto;
            left: 10px;
          }
        }

        .dropdown-menu {
          padding: 9px;
        }

        #input-save-view {
          min-width: 160px;
        }
      }

      .btn-saved-views {
        li {
          position: relative;
          width: 200px;

          a {
            width: 164px; // li width - span width - span right
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .close {
          position: absolute;
          right: 15px;
          top: 1px;
        }
      }
    }
  }

  .main-content {
    @media (min-width: $screen-lg-min) {
      padding: 10px 20px;
    }

    .filter-item {
      display: inline-block;
      border-radius: 3px;
      margin: 0 10px 10px 0;
      background-color: #2AC1E6;
      color: #FFF;
      height: 54px;
      padding: 8px 10px;
      width: 230px;
      vertical-align: top;
      cursor: default;
      text-decoration: none;

      .close {
        color: #FFF;
        opacity: 1;
      }
    }

    .fleet-table {
      thead > tr > th {
        vertical-align: top;
        padding: 8px 12px;
        color: #9CA8B4;
        background-color: #FFF;
        border: none;
        word-wrap: break-word;
        white-space: nowrap;
        cursor: pointer;
        font-size: 11px;

        i {
          margin-left: 8px;
        }
      }

      tbody > tr {
        > td {
          vertical-align: middle;
          padding: 8px 12px;
          max-width: 120px;
          color: #2D3C43;
          font-weight: bold;
          // cursor: pointer;
          word-wrap: break-word;
          white-space: nowrap;
          overflow: hidden;
          border-top: 1px solid #F0F0F0;
          font-size: 11px;
          text-overflow: ellipsis;

          a {
            color: #2D3C43;
          }
        }

        &:nth-child(odd) > td {
          background-color: #F5F5F5;
        }

        &:nth-child(even) > td {
          background-color: #FFF;
        }
      }
    }
  }

  #datatable_settings_container {
    .modal-content > div + div {
      margin-top: 15px;
    }

    .btn + .btn {
      margin-left: 5px;
    }

    .ctn-sortable-columns {
      height: 410px;
      overflow: scroll;

      ul {
        list-style: none;
        padding: 0;
        min-height: 390px;
      }

      li {
        background: #1CA5C9;
        color: #FFF;
        margin: 3px 0;
        padding: 10px 15px;
        cursor: move;
        border-radius: 4px;

        i {
          margin-top: 3px;
        }
      }

      .title {
        padding-left: 2px;
        font-weight: bold;
      }

      .sortable-ghost {
        opacity: 0.3;
        background: #FFF;
        border: dotted 2px #44585F;
      }
    }
  }
}

#fleets-show {
  .main-content-header {
    padding-bottom: 0;

    p.sub {
      margin: 5px 0 20px 0;
    }

    .nav-pills > li > a {
      color: #9A9AA2;
      border-radius: 0;
      font-weight: bold;
      padding: 5px 0;

      &:hover {
        background-color: inherit;
      }
    }

    .nav-pills > li.active > a {
      color: #323544;
      background-color: inherit;
      border-bottom: 5px solid #1CA3C7;
    }

    li {
      margin-right: 30px;
    }
  }

  .main-content {
    .ctn-aircraft-details {
      padding: 0;
      font-weight: bold;

      .panel-heading {
        padding: 20px;
        background-color: #6F7E95;
        color: #FFF;
      }

      .list-group {
        padding: 0 20px;
        color: #6F7E95;
        background-color: #FFF;

        .row {
          margin: 0;
        }

        .list-group-item {
          padding: 20px 0;
        }
      }
    }
  }
}
