//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: font-url('Open-Sans-regular/Open-Sans-regular.eot');
  src: font-url('Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Open Sans'),
       local('Open-Sans-regular'),
       font-url('Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
       font-url('Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
       font-url('Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
       font-url('Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: font-url('Open-Sans-600/Open-Sans-600.eot');
  src: font-url('Open-Sans-600/Open-Sans-600.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Semibold'),
       local('Open-Sans-600'),
       font-url('Open-Sans-600/Open-Sans-600.woff2') format('woff2'),
       font-url('Open-Sans-600/Open-Sans-600.woff') format('woff'),
       font-url('Open-Sans-600/Open-Sans-600.ttf') format('truetype'),
       font-url('Open-Sans-600/Open-Sans-600.svg#OpenSans') format('svg');
}
