.header {
  img {
    height: 34px;
  }

  .brand {
    width: 100%;
    float: left;
    margin-top: 5px;
    text-align: center;

    // centered across .sidebar
    @media (min-width: $screen-sm-min) {
      width: 300px;
    }

    // aligned with .main-content-header
    .sidebar-collapsed & {
      @media (min-width: $screen-sm-min) {
        text-align: left;
        margin-left: 40px;
        width: auto;
        margin-right: 10px;
      }

      @media (min-width: $screen-lg-min) {
        text-align: left;
        margin-left: 100px;
        width: auto;
        margin-right: 20px;
      }
    }
  }

  .navbar-collapse {
    background-color: #1CA5C9;
  }

  .nav {
    >li>a {
      padding: 0px 12px;
      line-height: 44px;
      color: #FFF;
      >i {
        font-size: 18px;
        margin-right: 6px;
      }
    }
    >li>a:focus,
    >li>a:active,
    >li.active>a {
      background-color: inherit;
    }
    >li>a:hover {
      background-color: #22B4D9;
    }

    .open > a {
      background-color: inherit;
    }
  }

  .nav-left {
    padding: 3px 12px;
    color: #FFF;

    @media (max-width: $screen-sm-min) {
      position: absolute;
      left: 0;
    }
  }

  .nav-right {
    @media (min-width: $screen-sm-min) {
      float: right !important;
      margin-right: -15px;
    }

    .dropdown-menu {
      @extend .dropdown-menu-right;
    }
  }

  .navbar-nav {
    @media (max-width: $screen-sm-min) {
      margin: 0 -15px;
    }
  }

  .dropdown-menu,
  .open .dropdown-menu {
    background-color: #1CA5C9;
    border: none;
    padding: 0;

    >li>a {
      padding: 10px 38px;
      height: 44px;
      color: #FFF;
    }
    >li>a:focus,
    >li>a:active,
    >li.active>a {
      background-color: inherit;
    }
    >li>a:hover {
      background-color: #22B4D9;
    }
  }
}
