.header {
  img {
    height: 34px;
  }

  .brand {
    width: 100%;
    float: left;
    margin-top: 5px;
    text-align: center;

    // centered across .sidebar
    @media (min-width: $screen-sm-min) {
      width: 240px;
    }

    // aligned with .main-content-header
    .logged-out & {
      @media (min-width: $screen-sm-min) {
        text-align: left;
        margin-left: 40px;
      }

      @media (min-width: $screen-lg-min) {
        text-align: left;
        margin-left: 100px;
      }
    }
  }

  .nav {
    >li>a {
      padding: 0px 10px;
      height: 44px;
      line-height: 44px;
      color: #FFF;
      >i {
        font-size: 18px;
      }
    }
    >li>a:focus
    >li>a:hover,
    >li>a:active {
      color: #1CA5C9;
    }
  }

  .nav-left {
    position: absolute;
    left: 0;

    @media (min-width: $screen-sm-min) {
      float: left;
    }
  }

  .nav-right {
    position: absolute;
    right: 0;
    .dropdown-menu {
      left: auto;
      right: 0;
    }

    @media (min-width: $screen-sm-min) {
      float: right;
    }
  }

}

.logged-out #toggle-sidebar {
  display: none;
}

.sidebar .nav {
  padding-left: 20px;
  padding-top: 20px;

  li + li {
    margin-top: 5px;
  }

  li a {
    border-radius: 0;
    color: #FFF;
    font-size: 16px;
    padding: 10px;

    i {
      color: #C0E6F0;
    }

    &:focus, &:hover {
      background: #999;
      color: #FFF;
    }
  }

  li.active a {
    &, &:focus, &:hover {
      background: #F5F5F5;
      color: #000;

      i {
        color: #1CA5C9;
      }
    }
  }

  li.div-btn-create, li.div-btn-create.active {
    margin-bottom: 20px;

    a, a:focus, a:hover {
      @extend .btn-orange;
      width: 200px;
      text-align: center;
    }
  }
}
