.header {
  img {
    height: 34px;
  }

  .brand {
    width: 100%;
    float: left;
    margin-top: 5px;
    text-align: center;

    // centered across .sidebar
    @media (min-width: $screen-sm-min) {
      width: 240px;
    }

    // aligned with .main-content-header
    .sidebar-collapsed & {
      @media (min-width: $screen-sm-min) {
        text-align: left;
        margin-left: 40px;
        width: auto;
        margin-right: 10px;
      }

      @media (min-width: $screen-lg-min) {
        text-align: left;
        margin-left: 100px;
        width: auto;
        margin-right: 20px;
      }
    }
  }

  .nav {
    >li>a {
      border-radius: 0px;
      padding: 0px 10px;
      height: 44px;
      line-height: 44px;
      color: #FFF;
      >i {
        font-size: 18px;
      }
    }
    >li>a:focus,
    >li>a:hover,
    >li>a:active,
    >li.active>a {
      color: $dark-blue;
      background-color: #eeeeee;
    }
  }

  .nav-left {
    @media (min-width: $screen-xs-min) {
      float: left;
    }
    @media (max-width: $screen-xs-max) {
      position: absolute;
      left: 0;
    }
  }

  .nav-right {
    @media (min-width: $screen-xs-min) {
      float: right;
    }
    @media (max-width: $screen-xs-max) {
      position: absolute;
      right: 0;
    }

    .dropdown-menu {
      @extend .dropdown-menu-right;
    }
  }

  .nav-search {
    margin-top: 5px;
    margin-right: 10px;
    position: relative;

    .input-search {
      width: auto;
      border-radius: 17px;
      padding-left: 17px;
      padding-right: 25px;
    }

    .btn-search {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 16px;
      line-height: 34px;
      padding-right: 8px;
    }

  }
}

.sidebar .nav {
  padding-left: 20px;
  padding-top: 20px;

  li + li {
    margin-top: 5px;
  }

  li a {
    border-radius: 0;
    color: #FFF;
    font-size: 16px;
    padding: 10px;

    i {
      color: #C0E6F0;
    }

    &:focus, &:hover {
      background: #999;
      color: #FFF;
    }
  }

  li.active a {
    &, &:focus, &:hover {
      background: #F5F5F5;
      color: #000;

      i {
        color: #1CA5C9;
      }
    }
  }

  li.div-btn-create, li.div-btn-create.active {
    margin-bottom: 20px;

    a, a:focus, a:hover {
      @extend .btn-orange;
      width: 200px;
      text-align: center;
    }
  }
}
