.button-container {
  text-align: right;
}

.video-container {
  transition: all 0.2s ease-in-out;

  .ctn-video-share-link {
    margin-top: 20px;
    h2 {
      float: left;
      line-height: 34px;
    }
    #input-url-time {
      width: 80px;
      display: inline-block;
    }
  }

  #btn-copy-video-link {
    margin-left: 1px;
  }

  #input-url-base {
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: text;
  }

  .vjs-default-skin .vjs-play-progress {
    // the original #66a8cc is bluish and hides our green
    background: #CCCCCC url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat
  }
}

.transcript-container {
  transition: all 0.2s ease-in-out;

  h1 {
    margin-bottom: 10px;
  }

  #videoText {
    overflow-y: auto;
    max-height: 360px;

    .activeVideoTextLink {
      font-weight: bold;
    }

    .videoTextLink {
      transition: all 0.2s ease-in-out;
      display: block;
      margin-left: 35px;

      .video-text-time {
        text-indent: -35px;
        display: inline-block;
        width: 0px;
      }

      i.feeling-confused, i.feeling-delighted {
        height: 16px;
        width: 16px;
      }
    }

    .ctnVideoTextLink {
      overflow: hidden;
    }
  }

  #videoText.hide-transcripts {
    .transcript {
      margin-top: -100%;
    }
  }

  #videoText {
    .video-text-icon {
      display: none;
    }
  }

  #videoText.icon-mode {
    .video-text-display {
      display: none;
    }
    .video-text-icon {
      display: inline;
    }
  }

}

.panel .video-container #btn-highlight-video-link {
  display: none;
}
