.button-container {
  text-align: right;
}

.video-container {
  transition: all 0.2s ease-in-out;

  .ctn-video-share-link {
    margin-top: 20px;
    h2 {
      float: left;
      line-height: 34px;
    }
    #input-url-time {
      width: 80px;
      display: inline-block;
    }
  }

  #btn-copy-video-link {
    margin-left: 1px;
  }

  #input-url-base {
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: text;
  }

  .vjs-default-skin .vjs-play-progress {
    // the original #66a8cc is bluish and hides our green
    background: #CCCCCC url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat
  }
}

.transcript-container {
  transition: all 0.2s ease-in-out;

  h1 {
    margin-bottom: 10px;
  }

  #videoText {
    overflow-y: auto;
    max-height: 360px;
    position: relative;

    .activeVideoTextLink {
      font-weight: bold;
    }

    .videoTextLink {
      transition: margin-top 0.2s ease-in-out;
      display: block;

      border: 1px solid transparent;
      margin: 1px;

      .video-text-time {
        width: 40px;
        float: left;
      }

      .video-text-time:read-only {
        border-color: transparent;
        background-color: initial;
      }

      textarea.video-text-display:read-only {
        border-color: transparent;
        background-color: initial;
        outline: none;
      }

      .video-text-icon-display {
        margin-left: 40px;

        textarea {
          width: 100%;
          resize: none;
          margin-bottom: -8px;
          min-height: 29px;
        }
      }
    }

    .video-text-buttons {
      display: none;
      position: absolute;
      margin-top: -2px;
      margin-right: 15px;
      right: 0;
    }

    .ctnVideoTextLink:hover {
      input, textarea {
        cursor: pointer;
      }
      input {
        text-decoration: underline;
      }
    }

    .video-text-buttons .btn {
      display: none
    }

    .ctnVideoTextLink {
      overflow: hidden;
    }

  }

}

.text-mode {
  .video-container {
    @extend .col-md-6;
  }
  .transcript-container {
    @extend .col-md-6;
  }
  .video-text-icon {
    display: none;
  }

  #videoText.hide-transcripts {
    .ctnVideoTextLink.transcript .videoTextLink {
      margin-top: -100%;
    }
  }

  #videoText.hide-notes {
    .ctnVideoTextLink.note .videoTextLink {
      margin-top: -100%;
    }
  }

  #videoText {

    .ctnVideoTextLink.transcript:hover, .ctnVideoTextLink.active {
      .videoTextLink {
        background-color: white;
        border-color: #C3C3C3;
        box-shadow: 0px 1px 1px 0px #CECECE;
      }
      .video-text-buttons {
        display: block;
      }
    }

    .ctnVideoTextLink.transcript:hover {
      .videoTextLink {
        border-radius: 5px;
      }
      .video-btn-edit {
        display: inline-block;
      }
    }

    .ctnVideoTextLink.active {
      .videoTextLink {
        border-radius: 0px;
      }
      .video-btn-edit {
        display: none;
      }
      .video-btn-save, .video-btn-cancel {
        display: inline-block;
      }
      input, textarea {
        cursor: initial;
      }
      input {
        text-decoration: initial;
      }
    }
  }
}

.icon-mode {
  .video-container {
    @extend .col-md-10;
  }
  .transcript-container {
    @extend .col-md-2;
  }
  .video-text-display {
    display: none;
  }
}

#btn-add-note {
  width: 100%;
}

.panel .video-container #btn-highlight-video-link {
  display: none;
}

