<% content_for :main_wrapper_class do %>
  sidebar-collapsed
<% end %>

<% content_for :title do %>Demo NPS widget<% end %>

<section class='main-content-header'>
  <h1>Demo NPS widget</h1>
</section>

<section class='main-content'>

  <div class='row'>
    <div class='col-sm-3'>
      <div class='panel'>
        <%= render 'nav/settings' %>
      </div>
    </div>
    <div class='col-sm-8'>

      <div class='panel'>
        <p>
          This page will generate test data for your account.  If you bring up your developer console, you can inspect the script tag below to see how the test data is being generated.
        </p>

        <div class='script'>hidden script<script>
<%= raw @prezi.load_js_snippet(true) %>

asksonar.load({
  email: 'test+' + Math.random() + '@asksonar.com'
});
        </script></div>

        <p>
          If you inspect the network requests, you'll notice that page load does not get blocked by the snippet.
        </p>
      </div>
    </div>
  </div>
</section>
