<% content_for :title do %>Forgot Password<%end%>

<section class='main-content-header'>
  <h1>Forgot your password?</h1>
</section>
<section class='main-content'>
  <div class='panel'>

    <%= bootstrap_form_for resource, as: resource_name, url: password_path(resource_name), inline_errors: false, html: { method: :post }, layout: :horizontal do |f| %>

      <p>Enter your email and we will send you instructions on how to reset your password.</p>

      <%= f.email_field :email, autofocus: true %>

      <%= f.submit "Send instructions", class: 'btn btn-dark-blue btn-med strong' %>
    <% end %>
  </div>
</section>
