.video-container {
  @extend .col-md-6;

  .icon-mode & {
    @extend .col-md-10;
  }

  transition: width 0.2s ease-in-out;

  margin-bottom: 20px;

  @media (min-width: $screen-md-min) {
    margin-bottom: 0px;
  }
}

.ctn-video-share-link {
  margin-top: 20px;
  h4 {
    float: left;
    line-height: 34px;
    margin: 0px;
  }
  .input-group {
    margin-left: 105px;
  }
  #input-url-base {
    cursor: text;
  }
  .btn + .btn {
    margin-left: 1px;
  }
}

.ctn-video-share-highlight {
  margin-top: 10px;

  display: none;
  .editable-timeline & { display: block; }

  h4 {
    float: left;
    line-height: 31px;
    margin: 0px;
  }

  #btn-create-highlight {
    margin-left: 10px;
  }
}

.video-js {
  padding-top: 75%; // fits 4:3 aspect ratio

  &.vjs-fullscreen {
    padding-top: 0px;
  }
}

.vjs-default-skin .vjs-play-progress {
  // the original #66a8cc is bluish and hides our green
  background: #CCCCCC url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat
}
