.vjs-default-skin .vjs-progress-control {
  .vjs-custom-range-left-mask {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(51, 51, 51, 0.9);
  }

  .vjs-custom-range-right-mask {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgba(51, 51, 51, 0.9);
  }

  %vjs-custom-range-marker {
    width: 14px;
    height: 16px;
    position: absolute;
    top: -19px;
    background: #41c00e;
    display: inline-block;
    border-radius: 2px 2px 0 0;
    color:#2e2e2e;
    cursor: ew-resize;

    &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      //content: '\2261'; //"≡";
      content: ' ';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #41c00e;
      border-width: 7px;
      margin-left: -7px;
    }

    i {
      font-size: 8px;
      margin-top: 2px;
    }
  }

  .vjs-custom-range-left-marker {
    @extend %vjs-custom-range-marker;
    left: -14px;
  }

  .vjs-custom-range-right-marker {
    @extend %vjs-custom-range-marker;
    right: -14px;
  }
}
