.video-container {
  transition: width 0.2s ease-in-out;
  margin-bottom: 20px;

  .ctn-video-share-link {
    margin-top: 20px;
    h4 {
      float: left;
      line-height: 34px;
      margin: 0px;
    }
    .input-group {
      margin-left: 105px;
    }
    #input-url-base {
      cursor: text;
    }
    .btn {
      padding-top: 8px;
      padding-bottom: 7px;
    }
    .btn + .btn {
      margin-left: 1px;
    }
  }

  .ctn-video-share-highlight {
    margin-top: 10px;
    display: none;

    h4 {
      float: left;
      line-height: 34px;
      margin: 0px;
    }

    div {
      margin-left: 150px;
    }

    .input-time {
      width: 80px;
      display: inline-block;
    }

    #btn-create-highlight {
      margin-left: 2px;
      margin-top: -4px;
      padding-top: 8px;
      padding-bottom: 7px;
    }
  }
}

@media (min-width: $screen-md-min) {
  .video-container {
    margin-bottom: 0px;
  }
}

.video-container {
  @extend .col-md-6;
}

.video-transcript-container.icon-mode {
  .video-container {
    @extend .col-md-10;
  }
}

.panel .video-container #btn-highlight-video-link {
  display: none;
}

.video-js {
  padding-top: 75%; // fits 4:3 aspect ratio
}

.vjs-default-skin .vjs-play-progress {
  // the original #66a8cc is bluish and hides our green
  background: #CCCCCC url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat
}
