<div class='pageheader'>
  <h1>Insert homepage here</h1>
</div>
<section id="main-content">
  <p>This is actually wordpress, not nested inside like this</p>
</section>

<%# link_to 'Login', controller: 'sessions' %>


<%# can also do
scenarios_path
instead of
controller: 'scenarios'
%>
