<% content_for :main_wrapper_class do %>
  sidebar-collapsed
<% end %>

<% content_for :title do %>Customers<% end %>

<section class='main-content-header'>
  <h1>Customers</h1>
</section>

<section class='main-content'>

  <div class='row'>
    <div class='col-sm-3'>
      <div class='panel'>
        <%= render 'nav/settings' %>
      </div>
    </div>
    <div class='col-sm-9'>
      <div class='panel'>
        <div class='table-responsive'>
          <table class='table table-hover user-table'>
            <tr>
              <th>Email</th>
              <th>First touch</th>
              <th>Last touch</th>
              <th>Region</th>
              <th>Country</th>
            </tr>
            <%= render partial: 'responder', collection: @prezi.users %>
          </table>
        </div>
        <%= paginate @prezi.users %>
      </div>
    </div>
  </div>
</section>
