<nav>
  <ul class="pager">
    <% if params[:page].to_i > 0 %>
      <li class="previous"><a href="?page=<%= params[:page].to_i - 1 %>"><span aria-hidden="true">&larr;</span> Newer</a></li>
    <% end %>
    <% if has_next %>
      <li class="next"><a href="?page=<%= params[:page].to_i + 1 %>">Older <span aria-hidden="true">&rarr;</span></a></li>
    <% end %>
  </ul>
</nav>
