<div class='row button-container'>
  <div class="btn-group" role="group" aria-label="...">
    <button id='toggle-transcripts' type="button" class="btn btn-default active"><i class='fa fa-align-left'></i> Transcripts</button>
    <button id='toggle-notes' type="button" class="btn btn-default active"><i class='fa fa-tags'></i> Notes</button>
  </div>
</div>
<div class='row'>
  <div class='col-md-6 video-container'>
    <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered vjs-has-started"
      controls preload="auto" width="auto" height="300"
      data-setup='{"example_option":true}'>
    </video>
    <div class="ctn-video-share-link">
      <h2>This moment at&nbsp;</h2><input type='text' class='h2 form-control' id='input-url-time' readonly>
      <div class="btn-group pull-right">
        <a class="btn btn-medium-blue" id="btn-highlight-video-link" data-placement="bottom" title="Highlight this moment in the video" data-toggle="tooltip"><i class="fa fa-star"></i></a>
        <div class='btn-wrapper-tooltip' data-placement="bottom" title="Copy the video share link" data-toggle="tooltip">
          <a class="btn btn-green" id="btn-copy-video-link"><i class="fa fa-link"></i></a>
        </div>
      </div>
    </div>
    <input type="text" class="form-control" id='input-url-base' readonly>
  </div>
  <div class='col-md-6 transcript-container'>
    <div id='videoText'>
      <!-- insert transcription here -->
    </div>
  </div>
</div>

<script id="video-text-template" type="text/x-handlebars-template">
  {{#each rows}}
  <div class='ctnVideoTextLink {{displayClass}}'>
    <a class='videoTextLink' data-timestamp='{{time}}'>
      {{#if editable}}
        <input type='text' class='video-text-time' value='{{displayTime}}' readonly></input>
        <div class='video-text-icon-display'>
          <div class='video-text-icon'><i class='{{displayIcon}}'></i></div>
          <textarea class='video-text-display' rows='1' readonly>{{{displayText}}}</textarea>
        </div>
      {{else}}
        <input type='text' class='video-text-time' value='{{displayTime}}' readonly></input>
        <div class='video-text-icon-display'>
          <div class='video-text-icon'><i class='{{displayIcon}}'></i></div>
          <div class='video-text-display'>{{{displayText}}}</div>
        </div>
      {{/if}}
    </a>
    <div class='video-text-buttons'>
      <span class='video-btn-edit btn btn-orange'><i class='fa fa-edit'></i> Edit</span>
      <span class='video-btn-save btn btn-success'><i class='fa fa-check'></i> Save</span>
      <span class='video-btn-cancel btn btn-danger'><i class='fa fa-times'></i> Cancel</span>
    </div>
  </div>
  {{/each}}
</script>
