<div class='row video-container'>
  <div class='col-md-6'>
    <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered vjs-has-started"
      controls preload="auto" width="auto" height="300"
      data-setup='{"example_option":true}'>
    </video>
    <div class="ctn-video-share-link">
      <h2>This moment at&nbsp;</h2><input type='text' class='h2 form-control' id='input-url-time' readonly>
      <div class="btn-group pull-right">
        <a class="btn btn-medium-blue" id="btn-highlight-video-link" data-placement="bottom" title="Coming Soon! - Highlight this moment in the video" data-toggle="tooltip"><i class="fa fa-star"></i></a>
        <div class='btn-wrapper-tooltip' data-placement="bottom" title="Copy the video share link" data-toggle="tooltip">
          <a class="btn btn-green" id="btn-copy-video-link"><i class="fa fa-link"></i></a>
        </div>
      </div>
    </div>
    <input type="text" class="form-control" id='input-url-base' readonly>
  </div>
  <div class='col-md-6'>
    <h1>Machine Transcription <sup class='body'>Beta</sup></h1>
    <div id='videoText'>
      <!-- insert transcription here -->
    </div>
  </div>
</div>
