<div class='row video-transcript-container'>
  <div class='video-container'>
    <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered vjs-has-started"
      controls preload="auto" width="auto" height="auto"
      data-setup='{"example_option":true}'>
    </video>
    <div class="ctn-video-share-link">
      <h4>Link to <span class='span-time'></span></h4>
      <div class="input-group">
        <input type="text" class="form-control" id='input-url-base' readonly>

        <span class='input-group-btn' data-placement="bottom" title="Copy the video share link" data-toggle="tooltip" data-container="#btn-copy-video-link-tooltip">
          <a class="btn btn-green" id="btn-copy-video-link"><i class="fa fa-link"></i></a>
        </span>
      </div>
      <div id='btn-copy-video-link-tooltip'></div>
    </div>
    <div class='ctn-video-share-highlight'>
      <h4>Share a highlight: </h4>
      <div>
        <input type='text' class='h2 form-control input-time' id='input-url-time' readonly>
        to
        <input type='text' class='h2 form-control input-time' id='input-url-time' readonly>
        <a id='btn-create-highlight' class='btn btn-dark-blue'><i class='fa fa-arrow-right'></i></a>
      </div>
    </div>
  </div>
  <div class='transcript-container'>
    <div class='button-container'>
      <button id='toggle-transcripts' type="button" class="btn btn-default active"><i class='fa fa-align-left'></i> Transcripts</button>
      <h2>Timeline</h2>
    </div>
    <div class='video-text-container'>
      <div id='videoText'>
        <!-- insert transcription here -->
      </div>
      <a id='btn-add-note' class='btn btn-medium-blue'><i class='fa fa-plus'></i> Add a Note</a>
    </div>
  </div>
</div>

<script id="video-text-template" type="text/x-handlebars-template">
  {{#each rows}}
    {{> video-text-partial}}
  {{/each}}
</script>

<script id='video-text-partial' type='text/x-handlebars-template'>
  <div class='ctnVideoTextLink {{displayClass}} {{#if active}}active{{/if}}'>
    <div class='videoTextLink' data-timestamp='{{time}}'>
      {{#if editable}}
        <input type='text' class='video-text-time' value='{{displayTime}}' {{#unless active}}readonly{{/unless}}></input>
        <div class='video-text-icon-display'>
          <div class='video-text-icon'><i class='{{displayIcon}}'></i></div>
          <textarea class='video-text-display' rows='1' {{#unless active}}readonly{{/unless}}>{{{displayText}}}</textarea>
        </div>
      {{else}}
        <input type='text' class='video-text-time' value='{{displayTime}}' readonly></input>
        <div class='video-text-icon-display'>
          <div class='video-text-icon'><i class='{{displayIcon}}'></i></div>
          <div class='video-text-display'>{{{displayText}}}</div>
        </div>
      {{/if}}
    </div>
    <a class='video-btn-edit sub'><i class='fa fa-edit'></i> Edit</a>
    <div class='video-text-buttons'>
      <span class='video-btn-save btn btn-success'><i class='fa fa-check'></i> Save</span>
      <span class='video-btn-cancel btn btn-danger'><i class='fa fa-times'></i> Cancel</span>
      <span class='video-btn-cancel btn btn-grey'><i class='fa fa-trash'></i></span>
    </div>
  </div>
</script>

<script id='video-resize-button' type='text/x-handlebars-template'>
  <div class="vjs-custom-resize-control vjs-control " role="button" aria-live="polite" tabindex="0">
    <div class='vjs-custom-resize-icon'></div>
  </div>
</script>
