<div id='walkthrough-popups'>
  <div id='walkthrough-start'>
    <h1>Welcome to Sonar!</h1>
    <i class='feeling-delighted'
      data-content="Sonar makes user feedback super easy! Let's take a quick stroll through an example study."
      data-trigger='manual'
    ></i>
  </div>
  <div id='walkthrough-template'>
    <h1>Step 1 of 3: Creating a study</h1>
    <i class='feeling-delighted'
      data-content="Imagine we need some feedback on our website. Let's make this easy by starting with a template."
      data-trigger='manual'
    ></i>
  </div>
  <div id='walkthrough-create'>
    <h1>Step 1 of 3: Creating a study</h1>
    <i class='feeling-delighted'
      data-content="Templates are a great starting point for studies. After making a few tweaks we're on our way."
      data-trigger='manual'
    ></i>
  </div>
  <div id='walkthrough-share'>
    <h1>Step 2 of 3: Sharing the link</h1>
    <i class='feeling-delighted'
      data-content="Now that our study has been created, let's share the link with some people who can give us feedback."
      data-trigger='manual'
    ></i>
  </div>
  <div id='walkthrough-results'>
    <h1>Step 3 of 3: Getting results</h1>
    <i class='feeling-confused'
      data-content="Let's pretend we got a response back after emailing out that link."
      data-trigger='manual'
    ></i>
    <br/>
    <i class='feeling-delighted'
      data-content="Someone gave feedback!  Let's check it out."
      data-trigger='manual'
    ></i>
    </h1>
  </div>
  <div id='walkthrough-modal'>
    <h1>Step 3 of 3: Getting results</h1>
    <i class='feeling-delighted'
      data-content="Sonar records the user's screen and audio feedback. When you're done watching, close the video."
      data-trigger='manual'
    ></i>

  </div>
  <div id='walkthrough-finish'>
    <h1>Congrats, you made it!</h1>
    <i class='feeling-confused'
      data-content="I bet you think feedback is easy now, don't you..."
      data-trigger='manual'
    ></i>
    <br/>
    <i class='feeling-delighted'
      data-content="You betcha! Time to collect your OWN feedback with Sonar!"
      data-trigger='manual'
    ></i>
    <br/>
    <a class='btn btn-dark-blue pull-right btn-med strong' href='/results'>Let's go!</a>
  </div>
</div>
<svg id='walkthrough-arrow' version="1.1" xmlns="http://www.w3.org/2000/svg" width="175px" height="50px">
  <marker id="markerArrow" markerWidth="20" markerHeight="20" refX="0" refY="10" orient="auto" markerUnits="userSpaceOnUse">
    <path d="M0,0 L0,20 L20,10 L0,0" style="fill: #F69526;"></path>
  </marker>
  <path d="M20 30 Q 30 10 60 10" marker-end="url(#markerArrow)" style="fill: transparent; stroke: #F69526; stroke-width: 7; stroke-linecap:round"></path>
</svg>
