<div id='walkthrough-overlay'>
  <div id='top-overlay'></div>
  <div id='left-overlay'></div>
  <div id='right-overlay'></div>
  <div id='bottom-overlay'></div>
</div>
<div id='walkthrough-popups'>
  <div id='walkthrough-start'>
    <h1>Welcome to Sonar!</h1>
    <i class='feeling-delighted'
      data-content="Sonar makes user feeback super easy! Let's take a quick scroll through an example study."
      data-trigger='manual'
    ></i>
  </div>
  <div id='walkthrough-one'>
    <h1>Step 1 of 3: Creating a study</h1>
    <i class='feeling-delighted'
      data-content="Imagine we need some feedback on our website. Let's make this easy by starting with a template."
      data-trigger='manual'
    ></i>
  </div>
  <div id='walkthrough-one-bee'>
    <h1>Step 1 of 3: Creating a study</h1>
    <i class='feeling-delighted'
      data-content="A template gives you an easy base to build your study on.  Make some adjustments that fit your use case, and you're on your way."
      data-trigger='manual'
    ></i>
  </div>
  <div id='walkthrough-two'>
    <h1>Step 2 of 3: Sharing the link</h1>
    <i class='feeling-delighted'
      data-content="Now that our study has been created, let's share the link with some people who can give us feedback.  Copy the link to your clipboard so you can send it out in an email."
      data-trigger='manual'
    ></i>
  </div>
  <div id='walkthrough-three'>
    <h1>Step 3 of 3: Getting results</h1>
    <i class='feeling-confused'
      data-content="Let's pretend we got a response back after emailing out that link."
      data-trigger='manual'
    ></i>
    <br/>
    <i class='feeling-delighted'
      data-content="Someone gave feedback!  Let's check it out."
      data-trigger='manual'
    ></i>
    </h1>
  </div>
  <div id='walkthrough-three-bee'>
    <h1>Step 3 of 3: Getting results</h1>
    <i class='feeling-delighted'
      data-content="Sonar records the user's screen and audio while they're giving feedback. Watch some feedback below, and close the video once you're done."
      data-trigger='manual'
    ></i>

  </div>
  <div id='walkthrough-finish'>
    <h1>Congrats, you made it!</h1>
    <i class='feeling-confused'
      data-content="I bet you think feedback is easy now, don't you..."
      data-trigger='manual'
    ></i>
    <br/>
    <i class='feeling-delighted'
      data-content="You betcha! Time to collect your OWN feedback with Sonar!"
      data-trigger='manual'
    ></i>
    <br/>
    <a class='btn btn-dark-blue pull-right h3' href='/results'>Let's go!</a>
  </div>
</div>
