<h1><%= @prezi.company_name %></h1>

<h2>We've received your feedback.  Thank you!</h2>

<p>Your feedback is incredibly important to us.  We appreciate you taking the time for this survey and hope to make your experience better.</p>

<p class='sub'>Powered by <a href='<%= Rails.configuration.properties['external_url'] %>'>sonar</a></p>
