<% content_for :main_wrapper_class do %>
  logged-out
<% end %>

<% content_for :main_content_wrapper_class do %>
  errors-wrapper
<% end %>

<% content_for :nav_footer do %>
  <%= render partial: 'nav/footer_errors' %>
<% end %>

<h1>We're sorry, but you don't have the right permissions to perform that action.</h1>
<h2>Are you sure you are logged in to the right account or have the right permissions?<br/>If this problem persists, please contact us using the form below.</h2>

<script type='text/javascript'>
  zE(function() {
    zE.activate();
  });
</script>
