<h1>We're sorry, but something went wrong.</h1>
<h2>
  <% if request.referrer %>
    Click <a href='<%= request.referrer %>'>here</a> to go back.<br/>
  <% end %>
  If this problem persists, please contact us using the form below.
</h2>

<script type='text/javascript'>
  zE(function() {
    zE.activate();
  });
</script>
