<p>Hi <%= @resource.full_name %>,</p>

<p>Your Sonar account has been created! Sonar gives you video, audio, and transcripts of your users' feedback.</p>

<p>Username: <%= @resource.email %> (<a href='https://my.asksonar.com/accounts/login?email=<%= @resource.email %>'>Log In</a>)</p>

<p>Please don't hesitate to let us know if you have any questions, comments, or feedback: support@asksonar.com.</p>

<p>Best,</p>
<p>- Team Sonar</p>
