<div class='pageheader'>
  <h1>Create a new scenario from a starting template</h1>
</div>
<section id="main-content">
  <div class='row'>
    <div class='col-md-4'>
      <div class='panel panel-solid-primary templatePanel'>
        <div class='panel-body templateHasLinks'>
          <div class='templatePanelCentered'>
            <div class='templateTitle'>
              <h1><i class='fa fa-users'></i></h1>
              <h1>Product</h1>
              Ask the right questions that will improve your product flow and usability
            </div>
          </div>
          <div class='templatePanelCentered'>
            <div class='templateLinks'>
              <ul class='list-unstyled'>
                <li>
                  <i class='fa fa-caret-right'></i>
                  <a href='/create/new?template=signup'>Test your signup flow</a></li>
                <li>
                  <i class='fa fa-caret-right'></i>
                  <a href='/create/new?template=purchase'>Test your purchase flow</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='panel panel-solid-info templatePanel'>
        <div class='panel-body templateHasLinks'>
          <div class='templatePanelCentered'>
            <div class='templateTitle'>
              <h1><i class='fa fa-pie-chart'></i></h1>
              <h1>Marketing</h1>
              Find out what your customers are thinking about you and your competitors
            </div>
          </div>
          <div class='templatePanelCentered'>
            <div class='templateLinks'>
              <ul class='list-unstyled'>
                <li>
                  <i class='fa fa-caret-right'></i>
                  <a href='/create/new?template=nps'>Get your Net Promoter Score (NPS)</a></li>
                <li>
                  <i class='fa fa-caret-right'></i>
                  <a href='/create/new?template=homepage'>Review your homepage</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='panel panel-solid-success templatePanel'>
        <div class='panel-body templateCustomPanel'>
          <div class='templatePanelCentered'>
            <div class='templateTitle'>
              <h1><i class='fa fa-gear'></i></h1>
              <h1>Custom</h1>
              Build your own test scenario from scratch
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
