<h1>This is the scenarios index</h1>

<%= link_to 'Create a New Scenario', new_scenario_path %>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Show</th>
		</tr>
	</thead>
	<tbody>	
	<% @scenarios.each do |scenario| %>
		<tr>
			<td><%= scenario.title %></td>
			<td><%= scenario.description %></td>
			<td><%= link_to 'Show', scenario_path(scenario) %></td>
		</tr>
	<% end %>
	</tbody>
</table>
