<section class='main-content-header'>
  <a href='<%= result_path(@scenario) %>' class='strong ctn-title'><%= @scenario.title %></a>
  <span id='ctn-user-email'><%= @scenario_result.prezi.email %></span>
</section>
<section class="main-content">

  <div class='panel readonly-timeline'>
    <%= render partial: 'utility/video' %>
    </div>
  </var>

</section>
