#analysis-index {
  #pivotHolder {
    overflow: scroll;
  }

  select.pvtAggregator:not(.form-control), select.pvtRenderer:not(.form-control) {
    @extend .form-control;
    @extend .input-sm;
  }

  table:not(.table) {
    @extend .table;
  }

  table.pvtUi > tbody > tr > td {
    border: 1px solid #E0E0E0;
    background: #FFF;
    padding: 10px;
    min-width: 130px;
  }

  table.pvtTable tr th, table.pvtTable tr th {
    border: 1px solid #E0E0E0;
    color: #9A9AA2 !important;
    background-color: #F9F9F9 !important;
  }

  .pvtAxisContainer li span.pvtAttr {
    background: #2AC1E6;
    color: #FFF;
    border: none;
    padding: 6px 8px;
  }

  .pvtRows li span.pvtAttr {
    width: 100%;
    display: block;
  }

  .pvtFilterBox {
    button {
      @extend .btn;
      @extend .btn-default;
      border-radius: 4px;
    }

    button + button {
      margin-left: 10px;
    }

    input[type="text"] {
      @extend .form-control;
      margin-top: 10px;
    }
  }
}
