// Place all the styles related to the drafts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-drafts-index {
  .panel {
    p {
      margin-top: 5px;
    }
  }
}

#main-drafts-new, #main-drafts-edit {

  .main-content-header {
    #btn-template-group {
      width: 100%;
      .btn {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        .caret {
          position: absolute;
          right: 10px;
          top: 17px;
        }
      }
      ul {
        width: 100%;
        a {
          white-space: normal;
        }
      }
    }
    .header-sub-text {
      margin-top: 5px;
      .template-sub-text {
        text-align: center;
      }
    }
  }

  .panel {
    textarea {
      resize: none;
      padding-left: 6px;
      padding-right: 6px;
    }
    input {
      padding-left: 6px;
      padding-right: 6px;
    }


    p {
      margin-bottom: 10px;
    }
    .summary-container {
      margin-bottom: 30px;
    }
    .steps-container {
      margin-bottom: 20px;
      .ctn-count {
        width: 40px;
        line-height: 33px;
      }
      .ctn-step {
        margin-left: 40px;
      }
      .ctn-url-btns {
        padding-left: 5px;
      }
      .ctn-url {
        margin-right: 90px;
      }
      .ctn-btns {
        width: 70px;
        .btn {
          font-family: sans-serif;
          background: black;
          color: white;
          line-height: 34px;
          width: 34px;
          padding: 0px;
          margin-left: 1px;
          float: left;
        }
        .btn-add-step {
          font-size: 30px;
        }
        .btn-remove-step {
          font-size: 26px;
        }
      }
      .form-group {
        margin-bottom: 10px;
      }
    }
  }

/*
  .form-group {
    margin-bottom: 2px;
  }

  .ctn-input-title {
    margin-top: 5px;
    .dropdown-toggle {
      margin-bottom: 0px;
    }
  }

  .ctn-left-description {
    margin-top: 10px;
    margin-right: -25px;
    text-align: right;
    opacity: .5;
    white-space: nowrap;
    font-size: 85%;
  }

  .ctn-step {
    .ctn-step-input {
      padding-right: 0px;
    }
    .ctn-step-input-url {
      padding-left: 5px;
    }
    .ctn-step-btn {
      margin-top: 7px;
      margin-left: -24px;
      white-space: nowrap;

      i {
        font-size: 25px;
        opacity: .15;
        cursor: pointer;
      }
      i:hover {
        opacity: 1;
      }
    }
  }
  */

  .ctn-step:first-child {
    .btn-remove-step {
      display: none;
    }
  }

  .ctn-save-buttons {
    .btn {
      width: 100px;
    }
  }

}
