// Place all the styles related to the drafts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#drafts-index {
  .panel {
    p.sub {
      margin-top: 5px;
    }
    p {
      margin-top: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

#drafts-new, #drafts-edit {

  .main-content-header {
    .form-group {
      margin-bottom: 0px;
    }
    #btn-template-group {
      width: 100%;
      .btn {
        font-size: 16px;
        width: 100%;
        height: 46px;
        line-height: 46px;
        padding-top: 0px;
        padding-bottom: 0px;
        .caret {
          position: absolute;
          right: 10px;
          top: 50%;
          margin-top: -2px; /* half its height of 4px */
        }
      }
      ul {
        width: 100%;
        a {
          white-space: normal;
        }
      }
    }
    .header-sub-text {
      margin-top: 10px;
      .template-sub-text {
        text-align: center;
      }
    }
  }

  .main-content {
    textarea {
      resize: none;
      padding-left: 6px;
      padding-right: 6px;
    }

    .summary-container, .steps-container {
      input {
        padding-left: 6px;
        padding-right: 6px;
      }
      p {
        margin-bottom: 10px;
      }
    }

    .summary-container {
      margin-bottom: 30px;
    }

    .steps-container {
      margin-bottom: 20px;

      .ctn-count {
        width: 40px;
        line-height: 33px;
      }
      .ctn-description {
        margin-left: 40px;
      }
      .ctn-url-btns {
        padding-left: 5px;
      }
      .ctn-url {
        margin-right: 90px;
      }
      .ctn-btns {
        width: 70px;
        .btn {
          font-family: sans-serif;
          line-height: 34px;
          width: 34px;
          padding: 0px;
          margin-left: 1px;
          float: left;
          opacity: .5;
        }
        .btn:hover {
          opacity: 1;
        }
        .btn-add-step {
          font-size: 30px;
        }
        .btn-remove-step {
          font-size: 26px;
        }
      }
      .ctn-step:first-child {
        .btn-remove-step {
          display: none;
        }
      }
      .form-group {
        margin-bottom: 10px;
      }
    }

    .buttons-container {
      p {
        max-width: 270px;
        margin-top: 3px; /* 31px (button height) - 25 (text height) / 2 */
        margin-right: 10px;
      }
      .btn + .btn {
        margin-left: 1px;
      }
    }
  }


}
