#embed-index {

  .btns-bar {
    border: 1px solid #ccc;
    height: 33px; // same as the two buttons
    background-color: #f5f2f0;
    margin-bottom: 20px;
  }

  h4 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 10px;
  }

  .snippet {
    border-bottom: none;
    margin-bottom: 0;

    &.unminified {
      display: none;
    }
  }

}
