.errors-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;

  h1 {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  h2 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
