#feedback-index, #feedback-show {
  #btn-record-feedback {
    margin-top: -7px;
  }

  .modal {
    .ctn-modal-header {
      margin-bottom: 10px;

      .ctn-title {
        margin-right: 20px;
      }
    }
  }
}
