#feedback-index, #feedback-show {
  #btn-record-feedback {
    margin-top: -7px;
  }

  .scenario-results-panel {
    .result-panel-left {

      h1 {
        margin-bottom: 5px;

        a {
          color: black;
        }
      }

      .result-panel-toggle {

        .nav-tabs {
          border: none;
        }

        li + li {
          margin-left: 10px;
        }

        .btn {
          padding: 0;

          &.active,
          &:active {
            color: black;
            box-shadow: none;
          }
        }

        .collapsed-content {
          margin: 10px 10px 0 10px;

          a,
          .result-step-description {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .result-step-description {
            float: left;
            max-width: 85%;
            text-decoration: inherit;
          }

          .result-step-duration {
            white-space: pre-wrap;
          }
        }
      }
    }

    .result-panel-right {
      padding-top: 5px; // align with the h1 line-height in .result-panel-left

      div + div {
        margin-top: 2px;
      }
    }
  }

  .modal {
    .ctn-modal-header {
      margin-bottom: 10px;

      .ctn-title {
        margin-right: 20px;
      }
    }
  }
}
