#fleets-index {
  .main-content-header {
    #btn-expand-sidebar {
      background-color: #303341;
      color: #FFF;
      border-radius: 0px 20px 20px 0px;
      height: 46px;
    }
  }

  .filters-container {
    h3 {
      margin-bottom: 15px;
    }

    .filter-select-container,
    .filter-items-container {
      margin-bottom: 15px;
    }

    .filter-item {
      border-radius: 6px;
      margin-right: 10px;

      .close {
        color: #FFF;
        margin-left: 12px;
        opacity: 1;
      }
    }
  }

  .results-containter {
    .container-export {
      margin-bottom: 20px;
      min-height: 33px;
    }

    .fleet-table {
      th:after {
        content: "";
        visibility: hidden;
        display: inline-block;
        vertical-align: inherit;
        height: 0;
        width: 0;
        border-width: 5px;
        border-style: solid;
        border-color: transparent;
        margin-right: 1px;
        margin-left: 10px;
        float: right;
      }

      th[data-sorted="true"]:after {
        visibility: visible;
      }

      th[data-sorted-direction="desc"]:after {
        border-top-color: #05647C;
        margin-top: 8px;
      }

      th[data-sorted-direction="asc"]:after {
        border-bottom-color: #05647C;
        margin-top: 3px;
      }

      th, td {
        @extend a;
      }
    }
  }
}

#fleets-show {
  .main-content-header {
    padding-bottom: 0;

    p.sub {
      margin: 5px 0 20px 0;
    }

    .nav-pills > li > a {
      color: #9A9AA2;
      border-radius: 0;
      font-weight: bold;
      padding: 5px 0;
    }

    .nav-pills > li.active > a {
      color: #323544;
      background-color: inherit;
      border-bottom: 5px solid #1CA3C7;
    }

    li {
      margin-right: 30px;
    }
  }

  .main-content {
    padding: 20px 40px;

    .ctn-fleet-summary {
      padding: 0;
      font-weight: bold;

      .panel-heading {
        padding: 20px;
        background-color: #6F7E95;
        color: #FFF;
      }

      .list-group {
        padding: 0 20px;
        color: #6F7E95;
        background-color: #FFF;

        .row {
          margin: 0;
        }

        .list-group-item {
          padding: 20px 0;
        }
      }
    }
  }
}
