#fleets-index {
  .filters-container {
    h3 {
      margin-bottom: 15px;
    }

    .filter-select-container,
    .filter-items-container {
      margin-bottom: 15px;
    }

    .filter-item {
      border-radius: 6px;
      margin-right: 10px;

      .close {
        color: #FFF;
        margin-left: 12px;
        opacity: 1;
      }
    }
  }

  .results-containter {
    .nav-tabs > li > a {
      border: none;
      background-color: #eeeeee;
      color: black;
    }

    .nav-tabs > li.active > a {
      background-color: #FAFAFA;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    }

    .container-export {
      margin-bottom: 20px;
      min-height: 33px;
    }

    .fleet-table {
      background-color: transparent;

      td {
        @extend a;
      }
    }

    .analyze-table {
      white-space: nowrap;
    }
  }
}

#fleets-show {
  .main-content-header {
    padding-bottom: 0;

    p.sub {
      margin: 5px 0 20px 0;
    }

    .nav-pills > li > a {
      color: #9A9AA2;
      border-radius: 0;
      font-weight: bold;
      padding: 5px 0;
    }

    .nav-pills > li.active > a {
      color: #323544;
      background-color: inherit;
      border-bottom: 5px solid #1CA3C7;
    }

    li {
      margin-right: 30px;
    }
  }

  .main-content {
    padding: 20px 40px;

    .ctn-fleet-summary {
      padding: 0;
      font-weight: bold;

      .panel-heading {
        padding: 20px;
        background-color: #6F7E95;
        color: #FFF;
      }

      .list-group {
        padding: 0 20px;
        color: #6F7E95;
        background-color: #FFF;

        .row {
          margin: 0;
        }

        .list-group-item {
          padding: 20px 0;
        }
      }
    }
  }
}
