#fleets-index {
  .main-content-header {
    #btn-expand-sidebar {
      background-color: #303341;
      color: #FFF;
      border-radius: 0px 20px 20px 0px;
      height: 46px;
      margin-right: 10px;
    }

    .sidebar-collapsed & {
      padding: 11px 40px 11px 0px;
    }
  }

  .filter-item {
    display: inline-block;
    border-radius: 3px;
    margin: 0 10px 10px 0;
    background-color: #2AC1E6;
    color: #FFF;
    height: 54px;
    padding: 8px 10px;
    width: 230px;
    text-align: left;
    vertical-align: top;
    text-decoration: none;

    .close {
      color: #FFF;
      margin-left: 12px;
      opacity: 1;
    }
  }

  .results-containter {
    .container-export {
      margin-bottom: 20px;
      min-height: 33px;
    }

    .fleet-table {
      .column-header,
      .btn-table-settings {
        position: relative;

        button {
          background-color: inherit;
          border: none;
          padding: 3px 6px;
        }

        .btn-edit-column {
          padding: 0;
        }

        .dropdown-menu {
          background-color: #67747F;
          border-radius: 0;
          padding: 9px 0;
          position: absolute;
          top: 47px; // height of th

          >li>a {
            color: #FFF;
            font-size: 12px;

            i {
              margin-right: 10px;
            }
          }
          >li>a:focus,
          >li>a:active,
          >li.active>a {
            background-color: inherit;
            outline: none;
          }
          >li>a:hover {
            background-color: inherit;
          }

          .divider {
            opacity: 0.5;
          }
        }

        .dropdown-submenu .dropdown-menu {
          margin-top: -57px;
        }
      }

      .btn-datatable-settings {
        padding: 10px;

        button {
          background-color: #EBF3F5;
          border-width: 1px;
          border-color: #D9E5E8;
          border-style: solid;
          width: 36px;

          span {
            font-weight: bold;
            font-size: 24px;
            line-height: 0.9;
          }
        }

      }

      thead > tr > th {
        vertical-align: top;
        padding: 14px 22px;
        max-width: 160px;
        color: #9CA8B4;
        background-color: #FFF;
        border: none;
        word-wrap: break-word;
        white-space: nowrap;
        cursor: pointer;

        span > i {
          margin-left: 8px;
        }

        &:last-child {
          padding: 7px;
        }
      }

      tbody > tr {
        > td {
          vertical-align: middle;
          padding: 14px 22px;
          max-width: 160px;
          color: #2D3C43;
          font-weight: bold;
          cursor: pointer;
          word-wrap: break-word;
          white-space: nowrap;
          overflow: scroll;
          border-top: 1px solid #F0F0F0;

          a {
            color: #2D3C43;
          }

          &:last-child {
            padding: 7px 0;
          }
        }

        &:nth-child(odd) > td {
          background-color: #F5F5F5;
        }

        &:nth-child(even) > td {
          background-color: #FFF;
        }
      }
    }
  }

  #datatable_settings_container {
    .modal-dialog {
      padding: 0;
    }

    .ctn-modal-header {
      margin-bottom: 15px;
    }

    .ctn-sortable-columns {
      ul {
        list-style: none;
        padding: 0;
        min-height: 300px;
      }

      li {
        background: #1CA5C9;
        color: #FFF;
        margin: 1px;
        padding: 10px 15px;
        cursor: move;
        border-radius: 5px;
        margin-bottom: 3px;
      }

      .title {
        color: #44585F;
        padding: 10px 10px 0;
        font-weight: bold;
      }

      .sortable-ghost {
        opacity: .3;
        background: #f60;
      }
    }

    .buttons-container {
      .btn + .btn {
        margin-left: 5px;
      }
    }
  }
}

#fleets-show {
  .main-content-header {
    padding-bottom: 0;

    p.sub {
      margin: 5px 0 20px 0;
    }

    .nav-pills > li > a {
      color: #9A9AA2;
      border-radius: 0;
      font-weight: bold;
      padding: 5px 0;
    }

    .nav-pills > li.active > a {
      color: #323544;
      background-color: inherit;
      border-bottom: 5px solid #1CA3C7;
    }

    li {
      margin-right: 30px;
    }
  }

  .main-content {
    padding: 20px 40px;

    .ctn-fleet-summary {
      padding: 0;
      font-weight: bold;

      .panel-heading {
        padding: 20px;
        background-color: #6F7E95;
        color: #FFF;
      }

      .list-group {
        padding: 0 20px;
        color: #6F7E95;
        background-color: #FFF;

        .row {
          margin: 0;
        }

        .list-group-item {
          padding: 20px 0;
        }
      }
    }
  }
}
