#highlights-new {

  .main-content-header {
    @extend .clearfix;
  }

  .ctn-video-time-snippet {
    margin-top: 10px;

    input {
      display: inline-block;
      width: 100px;
    }
  }

  .ctn-buttons {
    margin-top: 10px;
    float: right;
  }

  .video-check-show {
    float: left;
    margin-left: 6px;
    margin-right: 3px; // input box gives us 2px border + 1px padding to add up to 6px on the right
    margin-top: 6px;
  }

  .videoTextLink {
    padding-left: 23px; // width of checkbox 14px + margin-left px + margin-right 3px
  }

  .video-check-show:not(:checked) + .videoTextLink {
    color: #999;
  }

  .transcript-header-container {
    #btn-check-show-all {
      display: inline-block;
      margin-left: 6px;
    }

    h2 {
      display: inline-block;
    }
  }

  #btn-add-note {
    float: right;
    position: inherit;
  }

  .ctn-highlight-start {
    border-bottom: 1px dashed;
    text-align: center;
  }

  .ctn-highlight-finish {
    border-top: 1px dashed;
    text-align: center;
  }

  .ctn-highlight-disabled {
    color: #999;

    .video-check-show {
      display: none;
    }
  }
}
