#highlights-new, #highlights-edit {
  .main-content-header {
    @extend .clearfix;
  }

  .ctn-video-time-snippet {
    margin-top: 10px;

    .form-group {
      display: inline-block;
      margin-right: 10px;
      width: 100px;
    }
  }

  .ctn-buttons {
    margin-top: 10px;
    float: right;
  }

  .video-check-show {
    float: left;
    margin-top: 6px;
  }

  .videoTextLink {
    margin-left: 17px; // width of checkbox 14px + margin of 3px
  }

  .video-check-show:not(:checked) + .videoTextLink {
    color: #999;
  }

  .transcript-header-container {
    #btn-check-show-all {
      display: inline-block;
    }

    h2 {
      display: inline-block;
    }
  }

  #btn-add-note {
    color: inherit;
    float: right;
    position: inherit;

    &:hover {
      @extend .btn-medium-blue;
    }
  }

  #videoText {
    bottom: 0;
  }

  .ctn-highlight-start {
    border-bottom: 1px dashed;
    text-align: center;
  }

  .ctn-highlight-finish {
    border-top: 1px dashed;
    text-align: center;
  }

  .ctn-highlight-disabled {
    color: #999;

    &:hover {
      background-color: inherit;
    }

    &[data-state] {
      color: inherit;
    }

    .video-check-show {
      display: none;
    }
  }
}

#highlights-show {
  .video-check-show:not(:checked) + .videoTextLink {
    display: none;
  }

  .ctn-buttons {
    text-align: right;
  }

  .ctn-highlight-disabled {
    display: none;
  }

  #btn-check-show-all {
    display: none;
  }

  .video-check-show {
    display: none;
  }

  .ctn-highlight-start, .ctn-highlight-finish {
    display: none;
  }

  .vjs-custom-range-left-marker,
  .vjs-custom-range-right-marker {
    height: 0;
    top: 0;

    i {
      display: none;
    }
  }
}
