#recent-index {
  a.panel {
    .title-container {
      p {
        margin-top: 5px;
      }
    }
  }

  .response-alert {
    display: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
  }
}
