#results-index {

  .panel.live {
    border-left: 10px solid #8DD2E4;
    .label-live span {
      display: none;
    }
  }

  .panel.completed {
    border-left: 10px solid #999;
    .label-live {
      color: #999;
    }
  }

  a.panel {
    .title-container {
      p {
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
  }
}

#results-show {

  .main-content-header {
    position: relative; // for the split_panel

    .summary-highlights-container {
      margin-bottom: 20px;
      p.sub {
        margin-top: 10px;
      }

      @media (min-width: $screen-sm-min) {
        .left-col {
          float: left;
        }

        .right-col {
          margin-left: 95px;
        }
      }

      .summary-container,
      .highlights-container,
      .notes-container {
        margin-top: 20px;
      }

      .summary-description {
        white-space: pre-line;
      }

      .highlights-container,
      .notes-container {
        a {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .summary-container {
        //max-height: 4em;
        //overflow: hidden;
      }
      .summary-container:hover {
        max-height: inherit;
      }


    }

    .buttons-container {
      h2 {
        display: inline-block;
      }

      #btn-archive {
        margin-left: 5px;
        cursor: pointer;
        border: 1px solid #999;

        .btn {
          margin: 1px;
          padding-top: 4px;
          padding-bottom: 4px;
          box-shadow: none;
        }

        .btn:not(.active) {
          background-color: inherit;
          color: $grey;
          border-color: transparent;
        }
      }

      .share-link-group {
        input {
          cursor: text;
        }
      }

      #btn-delete {
        margin-left: 1px;
      }

      .btn-group {
        margin-bottom: 10px; // 10px margin-bottom when the edit, and delete buttons wrap
      }
    }
  }

  .panel-hero {
    .input-group {
      #input-share-link {
        cursor: text;
      }
    }

    h4 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .panel-body {

    .results-container {
      margin-left: 30px; // .summary-step-description number + padding ends up at 30px
      margin-top: 20px;

      a {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      i {
        float: left;
        margin-right: 5px;
        margin-left: 3px;
        margin-top: 3px;
      }

      i + i {
        margin-left: -18px + -3px + -5px; /* icon width + margin-left + margin-right */
        margin-top: 0px;
      }
    }
  }

  .modal {
    .ctn-modal-header {

      .ctn-title {
        margin-right: 20px;
      }

      .ctn-modal-step-description {
        margin-top: 15px;
        margin-bottom: 30px;
      }
    }
  } 
}
