#send-show {
  .panel {
    h2 {
      padding-bottom: 5px;
      margin-bottom: 15px;
      border-bottom: solid 1px #E2E8E9;
    }
  }

  .form-group {
    margin-bottom: 25px;
  }

  .panel-section + .panel-section {
    position: relative;
    padding-top: 25px;

    &:before {
      background: #E2E8E9;
      content: '';
      height: 1px;
      top: 0px;
      left: -20px;
      right: -20px;
      position: absolute;
    }
  }

  .btn {
    margin-bottom: 10px;

    & + & {
      margin-left: 5px;
    }
  }

  .control-label {
    text-align: left;
  }

  .email_followup {
    margin-left: 20px;
    .input-group {
      margin-left: 20px;
      max-width: 200px;
    }
  }

  .email_followup.disabled {
    color: #999;
    input {
      color: #999;
    }
    .input-group-addon {
      color: #999;
    }
  }
}
