#sessions-new,
#sessions-create,
#passwords-new,
#passwords-create,
#passwords-edit,
#passwords-update {
  .panel {
    max-width: 450px;
  }
}

#registrations-new,
#registrations-create {
  .panel {
    max-width: 450px;
  }
}

#sessions-new,
#sessions-create,
#passwords-new,
#passwords-create,
#passwords-edit,
#passwords-update,
#registrations-new,
#registrations-create {
  .panel {
    margin-left: auto;
    margin-right: auto;

    .form-group {
      margin-bottom: 10px;
    }

    p + .form-group {
      margin-top: 10px;
    }

    .ctn-remember-forgot {
      margin-top: -10px;

      .checkbox {
        float: left;
      }
      a {
        padding-top: 7px; // match the checkbox
      }
    }

    .btn-dark-blue {
      width: 100%;
      margin-top: 10px;
    }

    .link-sign-up {
      margin-top: 30px;
      p {
        line-height: 31px;
      }
    }
  }

}
