#send-show,
#view-show {
  .form-group {
    margin-bottom: 25px;
  }

  .btn {
    margin-bottom: 10px;

    & + & {
      margin-left: 5px;
    }
  }
}

#send-show {
  .panel-section + .panel-section {
    position: relative;
    padding-top: 25px;

    &:before {
      background: #E2E8E9;
      content: '';
      height: 1px;
      top: 0px;
      left: -20px;
      right: -20px;
      position: absolute;
    }
  }

  .control-label {
    text-align: left;
  }

  .days-group .input-group {
    max-width: 200px;
  }

  .email-followup {
    margin-left: 20px;
    .days-group {
      margin-left: 20px;
    }
  }

  .email-followup.disabled {
    color: #999;
    input {
      color: #999;
    }
    .input-group-addon {
      color: #999;
    }
  }
}

#view-show {
  .survey-preview-header {
    color: #404040;
    background: #F5F5F5;
    padding: 3px;
    text-align: center;
    font-weight: bold;
  }
}
