// Place all the styles related to the ShareVideos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#share_videos-show {

  .main-content-header {
    h3 {
      display: inline-block;
    }
    p {
      display: inline-block;
      margin-left: 20px;
    }
    .ctn-modal-step-description {
      margin-left: 75px;
      margin-top: 15px;
      span.h1 {
        display: inline-block;
        text-indent: -75px;
        width: 0px;
      }
    }
  }

}
