// Place all the styles related to the UserScenarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#studies-show {
  .panel {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .step {
    .el-enabled,
    .el-disabled,
    .el-completed {
      display: none;
    }
  }

  .step-enabled .el-enabled {
    display: block;
  }

  .step-disabled .el-disabled {
    display: block;
  }

  .step-completed .el-completed {
    display: block;
  }

  .step {
    line-height: 32px;

    i {
      color: #1CA5C9;
      font-size: 32px;
      float: left;
      margin-right: 5px;
      padding-right: 1px; /* bug with FA- circle gets cut off */
    }

  }

  .ctn-setup {
    .el-disabled {
      color: #999;
    }
    .step + .step {
      margin-top: 10px;
    }
  }

  .ctn-help {
    h3 {
      margin-bottom: 10px;
    }
    img {
      width: 100%;
    }
  }

  .ctn-study {
    position: relative; /* for the overlay */

    .overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .5;
      background-color: rgb(227, 227, 227);
    }

    .form-group {
      margin-bottom: 0px;
    }

    form {
      margin-top: 20px;
    }

    .ctn-start-feedback {
      margin-top: 20px;
    }

  }

}
