// Place all the styles related to the UserScenarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#studies-show {
  .panel {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .fa-check-circle {
    color: #1CA5C9;
    font-size: 32px;
  }

  .step {
    .el-enabled,
    .el-disabled,
    .el-completed {
      display: none;
    }
  }

  p.el-completed {
    line-height: 32px; /* hack for one-line items to look better */
  }

  .step-enabled .el-enabled {
    display: block;
  }

  .step-disabled .el-disabled {
    display: block;
  }

  .step-completed .el-completed {
    display: block;
  }

  .ctn-setup {
    .step {
      position: relative;
      margin-top: 20px;

      .btn {
        width: 100px;
      }

      .btn, i {
        position: absolute;
        right: 0;
        top: 0;
      }
      p {
        margin-right: 115px;
      }
    }
  }

  .ctn-study {

    p.sub {
      margin-top: 10px;
    }

    .form-group {
      margin-bottom: 0px;
    }

    form {
      margin-top: 20px;
    }

    .ctn-start-feedback {
      margin-top: 20px;
    }

  }

}
