// Place all the styles related to the UserScenarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#studies-show {
  .panel {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    margin-bottom: 10px;
  }

  .ctn-btn-text {
    margin-top: 15px;

    p {
      line-height: 31px;
    }
    .btn {
      height: 31px;
    }
  }

  #ctn-start-feedback {
    margin-top: 15px;
  }

  #ctn-restart-feedback {
    margin-top: 20px;
  }

  #ctn-install-chrome,
  #ctn-install-extension,
  #ctn-study,
  #ctn-start-feedback,
  #ctn-restart-feedback {
    display: none;
  }

}
