<div class='pageheader'>
  <h1>Account</h1>
</div>
<section id="main-content">
  <p>
  You are logged in as <%= current_user.display %>
  </p>
  <% if current_user.company %>
  <p>
  Your company is <%= current_user.company.name %>
  </p>
  <% end %>
</section>
