// Place all the styles related to the Create controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create {
  .templatePanel {
    .panel-body {
      height: 400px;
      padding: 0px;
      overflow: hidden;
    }
    .templatePanelCentered {
      height: 100%;
    }
    .templatePanelCentered > div, .templatePanelCentered > ul {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    .templateTitle {
      text-align: center;
      padding: 30px;
      h1 {
        font-size: 3em;
        margin-bottom: 10px;
      }
    }
    .templateLinks {
      padding: 20px;
      li {
        list-style: none;
        font-size: 1.5em;
        margin-bottom: 10px;
      }
    }
    .templateCustomPanel {
      cursor: pointer;
    }

    a:link,a:visited {
      text-decoration: none;
      outline: none;
      color: inherit;
    }

    a:hover,a:active {
      outline: none;
      text-decoration: underline;
      color: inherit;
    }
  }

  #createForm {
    .form-group {
      margin-bottom: 2px;
    }

    .ctn-scenario-title {
      /*margin-bottom: 20px;*/
    }

    .ctn-scenario-description {
      margin-bottom: 10px;
    }

    .ctn-btn-templates {
      width: 100%;
      .btn {
        width: 100%;
      }
    }

    .ctn-step {
      position: relative;
      .ctn-step-count {
        position: absolute;
        width: 60px;
        text-align: right;
        left: -62px;
        top: 10px;
        opacity: .5;
      }
      .ctn-step-input {
        .ctn-step-input-url {
          padding-left: 0px;
          margin-left: -15px;
          padding-right: 0px;
        }
      }
      .ctn-step-btn {
        position:absolute;
        width: 50px;
        top: 8px;
        right: -54px;

        i {
          font-size: 25px;
          opacity: .15;
          cursor: pointer;
        }
        i:hover {
          opacity: 1;
        }
      }
    }

    .ctn-step:first-child {
      .btn-remove-step {
        display: none;
      }
    }

    .ctn-save-buttons {
      margin-top: 15px;
      .btn {
        width: 100px;
      }
    }
  }
/*
  #btnAddNewStep {
    width: 100%;
  }


  .divButtons {
    position: fixed;
    top: 130px;
    right: 0px;

    .btn {
      width: 100px;
    }

    .panel-body {
      padding: 10px 10px 5px 10px;
    }
  }
*/

  textarea {
    resize:vertical;
  }
}
