#header .nav a {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #1d212a;
}

#header .nav a:hover {
  color: #1d212a;
}

.footer {
  padding: 40px;
  text-align: center;
}

.div-btn-create {
  margin: 20px 20px 15px 20px;
  .btn {
    width: 200px;
  }
}
