#header .nav a {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #1d212a;
}

#header .nav a:hover {
  color: #1d212a;
}

.footer {
  padding: 40px;
  text-align: center;
}

.sidebar-mini li.div-btn-create {
  margin: auto;
}

li.div-btn-create {
  margin: 20px 20px 15px 20px;
  a {
    background-color: #1f7bb6 !important;
    color: #ffffff !important;
  }

  a:hover {
    background-color: #238acc !important;
  }
}
