#header {
  div.brand {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: center;
  }
  a.logo {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

    margin-top: 7px;
    margin-left: -5px;

    div {
      float: left;
      font-size: 32px;
      text-transform: none;
    }
    i {
      transform: scaleX(-1) rotateZ(45deg);
      opacity: .7;
      font-size: 26px;
    }
    .left-ping {
      width: 16px;
      margin-left: -2px;
      margin-right: 1px;
      margin-top: 2px;
      overflow: hidden;
    }
    .right-ping {
      width: 16px;
      margin-left: 0px;
      margin-right: -2px;
      margin-top: 2px;
      overflow: hidden;
      transform: scaleX(-1);
    }
  }
  .nav {
    a {
      padding-top: 20px;
      padding-bottom: 20px;
      color: #1d212a;
    }
    a:hover {
      color: #1d212a;
    }
    @media (min-width: 768px) {
      .toggle-left {
        display: none;
      }
    }
  }
}

.footer {
  padding: 40px;
  text-align: center;
}

.sidebar-mini li.div-btn-create {
  margin: auto;
}

li.div-btn-create {
  margin: 20px 20px 15px 20px;
  a {
    background-color: #1f7bb6 !important;
    color: #ffffff !important;
  }

  a:hover {
    background-color: #238acc !important;
  }
}
