// Place all the styles related to the scenarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scenarios {

  .panel {
    margin-bottom: 5px;
    cursor: pointer;

    .scenario-description {
      max-height: 3em;
      overflow: hidden;
    }

    .scenario-published-by {

    }
  }

  .live .panel {
    border-left: #3c763d 10px solid;
  }

  .live .panel :hover {
      background-color: #dff0d8;
  }

  .completed .panel {
    /*border-left: #31708f 10px solid;*/
    border-left: #909aa0 10px solid;
    /*padding-left: 10px;*/
  }

  .completed .panel :hover {
    /*background-color: #d9edf7;*/
    background-color: #eee;
  }




}
