// Place all the styles related to the scenarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scenarios {

  #btnAddNewStep {
    width: 100%;
  }

  .divButtons {
    position: fixed;
    top: 130px;
    right: 0px;
    width: 125px;
  }

}
