<p>Hi <%= @resource.full_name %>,</p>

<p>Luckily, creating a new password is easy! Click <%= link_to 'here', edit_password_url(@resource, reset_password_token: @token) %> to reset your password.

<p>Suddenly remember your old password? Didn't make this request? No problem, you can safely ignore this message. Let's pretend like none of this even happened.</p>

<p>Thanks,</p>
<p>- Team Sonar</p>
