<aside class="sidebar analysis-sidebar">
  <nav>
    <ul class="nav nav-pills nav-stacked">

      <li data-toggle="collapse" href="#renderers">
        <a class="nav-sub-container"><i class="fa fa-chevron-right"></i>TABLE VIEW</a>
      </li>
      <ul class="nav nav-pills nav-stacked collapse" id="renderers">
        <div class='renderers'>
          <div class="checkbox"><label><input type="checkbox" value="table">Table</label></div>
          <div class="checkbox"><label><input type="checkbox" value="tableBarChart">Table Barchart</label></div>
          <div class="checkbox"><label><input type="checkbox" value="heatmap">Heatmap</label></div>
          <div class="checkbox"><label><input type="checkbox" value="colHeatmap">Col Heatmap</label></div>
          <div class="checkbox"><label><input type="checkbox" value="rowHeatMap">Row Heatmap</label></div>
          <div class="checkbox"><label><input type="checkbox" value="areaChart">Area Chart</label></div>
          <div class="checkbox"><label><input type="checkbox" value="barChart">Bar Chart</label></div>
          <div class="checkbox"><label><input type="checkbox" value="lineChart">Line Chart</label></div>
          <div class="checkbox"><label><input type="checkbox" value="scatterChart">Scatter Chart</label></div>
          <div class="checkbox"><label><input type="checkbox" value="stackedBarChart">Stacked Bar Chart</label></div>
        </div>
      </ul>

      <li data-toggle="collapse" href="#aggregators">
        <a class="nav-sub-container"><i class="fa fa-chevron-right"></i>VALUES</a>
      </li>
      <ul class="nav nav-pills nav-stacked collapse" id="aggregators">
        <div class='aggregators'>
          <div class="checkbox"><label><input type="checkbox" value="count">Count</label></div>
          <div class="checkbox"><label><input type="checkbox" value="countUnique">Count Unique Values</label></div>
          <div class="checkbox"><label><input type="checkbox" value="listUnique">List Unique Values</label></div>
          <div class="checkbox"><label><input type="checkbox" value="sum">Sum</label></div>
          <div class="checkbox"><label><input type="checkbox" value="intergerSum">Integer Sum</label></div>
          <div class="checkbox"><label><input type="checkbox" value="average">Average</label></div>
          <div class="checkbox"><label><input type="checkbox" value="mini">Minimum</label></div>
          <div class="checkbox"><label><input type="checkbox" value="max">Maximum</label></div>
        </div>
      </ul>

      <li data-toggle="collapse" href="#available-attributes">
        <a class="nav-sub-container"><i class="fa fa-chevron-down"></i>AVAILABLE ATTRIBUTES</a>
      </li>
      <ul class="nav nav-pills nav-stacked collapse in" id="available-attributes">
        <div class="ctn-available-attributes">
          <ul id="available">
            <li data-id="MSN">MSN<i class="fa fa-bars pull-right"></i></li>
            <li data-id="Aircraft Manufacturer">Aircraft Manufacturer<i class="fa fa-bars pull-right"></i></li>
            <li data-id="Registration">Registration<i class="fa fa-bars pull-right"></i></li>
            <li data-id="Engine Model">Engine Model<i class="fa fa-bars pull-right"></i></li>
            <li data-id="Engine Version">Engine Version<i class="fa fa-bars pull-right"></i></li>
            <li data-id="Airline">Airline<i class="fa fa-bars pull-right"></i></li>
            <li data-id="Owner">Owner<i class="fa fa-bars pull-right"></i></li>
            <li data-id="Airline Country">Airline Country<i class="fa fa-bars pull-right"></i></li>
            <li data-id="Build Year">Build Year<i class="fa fa-bars pull-right"></i></li>
            <li data-id="Aircraft Age">Aircraft Age<i class="fa fa-bars pull-right"></i></li>
            <li data-id="Seats">Seats<i class="fa fa-bars pull-right"></i></li>
            <li data-id="MTOW">MTOW<i class="fa fa-bars pull-right"></i></li>
            <li data-id="Hours Cumulative">Hours Cumulative<i class="fa fa-bars pull-right"></i></li>
            <li data-id="Cycles Cumulative">Cycles Cumulative<i class="fa fa-bars pull-right"></i></li>
          </ul>
        </div>
      </ul>

    </ul>
  </nav>
  <div class='sidebar-shadow'></div>
</aside>
