<aside class="sidebar analysis-sidebar">
  <div class="renderers-container">
    <div class="title">TABLE VIEW</div>
    <select class='selectpicker renderers' name="renderers">
      <option name="renderer" data-renderer-type="text" value="table">Table</option>
      <option name="renderer" data-renderer-type="text" value="tableBarChart">Table Barchart</option>
      <option name="renderer" data-renderer-type="text" value="heatmap">Heatmap</option>
      <option name="renderer" data-renderer-type="text" value="colHeatmap">Col Heatmap</option>
      <option name="renderer" data-renderer-type="text" value="rowHeatMap">Row Heatmap</option>
      <option name="renderer" data-renderer-type="svg" value="areaChart">Area Chart</option>
      <option name="renderer" data-renderer-type="svg" value="barChart">Bar Chart</option>
      <option name="renderer" data-renderer-type="svg" value="lineChart">Line Chart</option>
      <option name="renderer" data-renderer-type="svg" value="scatterChart">Scatter Chart</option>
      <option name="renderer" data-renderer-type="svg" value="stackedBarChart">Stacked Bar Chart</option>
      <option name="renderer" data-renderer-type="text" value="tsvExport">TSV Export</option>
    </select>
  </div>

  <div class="aggregators-container">
    <div class="title">VALUES</div>
    <select class="selectpicker aggregators" name="aggegators">
      <option name="aggregator" value="count">Count</option>
      <option name="aggregator" value="countUnique">Count Unique Values</option>
      <option name="aggregator" value="listUnique">List Unique Values</option>
      <option name="aggregator" value="sum">Sum</option>
      <option name="aggregator" value="intergerSum">Integer Sum</option>
      <option name="aggregator" value="average">Average</option>
      <option name="aggregator" value="min">Minimum</option>
      <option name="aggregator" value="max">Maximum</option>
    </select>
    <select class="selectpicker attributes" data-live-search="true" title="Select" data-dropup-auto="false" disabled>
      <% @prezi.attribute_names.each do |attribute| %>
        <option name="attribute" value="<%= attribute %>"><%= attribute %></option>
      <% end %>
    </select>
  </div>

  <div class="attributes-container">
    <div class="title">AVAILABLE ATTRIBUTES</div>
    <div class="ctn-available-attributes">
      <ul id="available">
        <li data-id="MSN">MSN<i class="fa fa-bars pull-right"></i></li>
        <li data-id="Aircraft Manufacturer">Aircraft Manufacturer<i class="fa fa-bars pull-right"></i></li>
        <li data-id="Registration">Registration<i class="fa fa-bars pull-right"></i></li>
        <li data-id="Engine Model">Engine Model<i class="fa fa-bars pull-right"></i></li>
        <li data-id="Engine Version">Engine Version<i class="fa fa-bars pull-right"></i></li>
        <li data-id="Airline">Airline<i class="fa fa-bars pull-right"></i></li>
        <li data-id="Owner">Owner<i class="fa fa-bars pull-right"></i></li>
        <li data-id="Airline Country">Airline Country<i class="fa fa-bars pull-right"></i></li>
        <li data-id="Build Year">Build Year<i class="fa fa-bars pull-right"></i></li>
        <li data-id="Aircraft Age">Aircraft Age<i class="fa fa-bars pull-right"></i></li>
        <li data-id="Seats">Seats<i class="fa fa-bars pull-right"></i></li>
        <li data-id="MTOW">MTOW<i class="fa fa-bars pull-right"></i></li>
        <li data-id="Hours Cumulative">Hours Cumulative<i class="fa fa-bars pull-right"></i></li>
        <li data-id="Cycles Cumulative">Cycles Cumulative<i class="fa fa-bars pull-right"></i></li>
      </ul>
    </div>
  </div>
  <div class='sidebar-shadow'></div>
</aside>
