<div class="footer-errors">
  <span class="light-waves"></span>
  <span class="dark-waves"></span>
  <span class="sun"></span>
  <span class="boat"></span>
  <span class="beeps"></span>
  <span class="rocks"></span>

  <%= render partial: 'nav/footer' %>
</div>

