<div class="footer-errors">
  <span class="light-waves"></span>
  <span class="dark-waves"></span>
  <span class="sun"></span>
  <span class="boat"></span>
  <span class="beeps"></span>
  <span class="rocks"></span>

  <div class='footer'>
    <p class='sub'><i class='fa fa-ft fa-copyright'></i><%= Time.now.year %> Sonar Technologies, Inc.</p>
  </div>
</div>

