<header class="header"> <!--logo start-->
  <div class="brand">
    <a href="/" class="logo"><img src='<%=asset_path 'SonarLogo_White-02.svg' %>'></a>
  </div>
  <ul class="nav nav-left">
    <li class='visible-xs'>
      <a id='toggle-sidebar' href="#"><i class="fa fa-bars"></i></a>
    </li>
  </ul>
  <ul class="nav nav-right">
    <% if researcher_signed_in? %>
      <%= navbar_dropdown "<i class='fa fa-user'></i>&nbsp;&nbsp;#{current_researcher.full_name}" do %>
        <%= navbar_item "Logout", destroy_researcher_session_path %>
      <% end %>
    <% else %>
      <%= navbar_item "Login", new_researcher_session_path %>
    <% end %>
  </ul>
 </header>
