<header class="header"> <!--logo start-->
  <div class="brand">
    <a href="<%= Rails.configuration.properties['external_url'] %>" class="logo"><img src='<%=asset_path 'SonarLogo_White-02.svg' %>'></a>
  </div>
</header>
